---
openapi: "3.0.1"
info:
  title: "Aggregation APIs"
  description: "This file describes the Yodlee Aggregation product APIs using the swagger notation that you can use to build your financial application.  You can generate the client SDK in Python, JavaScript, PHP, or any other languages according to your development needs. For more details about the APIs, refer to <a href=\"https://developer.yodlee.com/resources/yodlee/yodlee-api-overview/docs\">Yodlee API v1.1 - Overview</a>.<br><br>You will have to set the header before making the API call. The following headers apply to all the APIs:<ul><li>Authorization: This header holds the access token</li> <li> Api-Version: 1.1</li></ul><b>Note</b>: If there are any API-specific headers, they are mentioned explicitly in the respective API's description."
  termsOfService: "https://developer.yodlee.com/terms/condition"
  contact:
    email: "developer@yodlee.com"
  license:
    name: "Yodlee Developer License"
    url: "https://developer.yodlee.com/terms/condition#_Services_1"
  version: "1.1.0"
servers:
- url: "https://sandbox.api.yodlee.com/ysl"
tags:
- name: "Accounts"
  description: "Accounts API"
- name: "Auth"
  description: "Auth API"
- name: "Configs"
  description: "Configs API"
- name: "Consents"
  description: "Consents API"
- name: "DataExtracts"
  description: "DataExtracts API"
- name: "Derived"
  description: "Derived API"
- name: "Documents"
  description: "Documents API"
- name: "Holdings"
  description: "Holdings API"
- name: "ProviderAccounts"
  description: "Provider Accounts API"
- name: "Providers"
  description: "Providers API"
- name: "Statements"
  description: "Statements API"
- name: "Transactions"
  description: "Transactions API"
- name: "User Documents"
  description: "User Documents API"
- name: "User"
  description: "Users API"
paths:
  /transactions:
    get:
      tags:
      - "Transactions"
      summary: "Get Transactions"
      description: "The Transaction service is used to get a list of transactions for a user.<br>By default, this service returns the last 30 days of transactions from today's date.<br>API will only return up to 2 years of transaction history. If the difference between fromDate and toDate is more than 2 years, API will return only last 2 years from the toDate.<br>The keyword parameter performs a contains search on the original, consumer, and simple description attributes, replace the special characters #, &, and + with percent-encoding values %23, %26, and %2B respectively. Eg: for -Debit# , pass the input as -Debit%23.<br>Values for categoryId parameter can be fetched from get transaction category list service.<br> The categoryId is used to filter transactions based on system-defined category as well as user-defined category.<br>User-defined categoryIds should be provided in the filter with the prefix ''U''. E.g. U10002<br>The skip and top parameters are used for pagination. In the skip and top parameters pass the number of records to be skipped and retrieved, respectively. The response header provides the links to retrieve the next and previous set of transactions.<br>Double quotes in the merchant name will be prefixed by backslashes (&#92;) in the response, e.g. Toys \"R\" Us. <br>sourceId is a unique ID that the provider site has assigned to the transaction. The source ID is only available for the pre-populated accounts. Pre-populated accounts are the accounts that the FI customers shares with Yodlee, so that the user does not have to add or aggregate those accounts.<br><br><b>Note</b><ul><li><a href=\"https://developer.yodlee.com/resources/yodlee/transaction-data-enrichment/docs/overview\">Transaction Data Enrichment</a> is made available for bank and card accounts. The address field in the response is available only when the Transaction Data Enrichment key is turned ON.</li><li>The pagination feature is available by default. If no values are passed in the skip and top parameters, the API will only return the first 500 transactions.</li><li>This service supports the localization feature and accepts locale as a header parameter.</li></ul>"
      operationId: "getTransactions"
      parameters:
      - name: "accountId"
        in: "query"
        description: "Comma separated accountIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "baseType"
        in: "query"
        description: "DEBIT/CREDIT"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "categoryId"
        in: "query"
        description: "Comma separated categoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "categoryType"
        in: "query"
        description: "Transaction Category Type(LOAN, UNCATEGORIZE, INCOME, TRANSFER, EXPENSE or DEFERRED_COMPENSATION)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "container"
        in: "query"
        description: "bank/creditCard/investment/insurance/loan"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "convertToCurrency"
        in: "query"
        description: "On-demand currency conversion parameter"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "detailCategoryId"
        in: "query"
        description: "Comma separated detailCategoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fromDate"
        in: "query"
        description: "Transaction from date(YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "highLevelCategoryId"
        in: "query"
        description: "Comma separated highLevelCategoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "keyword"
        in: "query"
        description: "Transaction search text"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "skip"
        in: "query"
        description: "skip (Min 0)"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      - name: "toDate"
        in: "query"
        description: "Transaction end date (YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "top"
        in: "query"
        description: "top (Max 500)"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      - name: "type"
        in: "query"
        description: "Transaction Type(SELL,SWEEP, etc.) for bank/creditCard/investment"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        400:
          description: "Y800 : Invalid value for baseType<br>Y800 : Invalid value for fromDate<br>Y800 : Invalid value for category<br>Y800 : Invalid value for toDate<br>Y800 : Invalid value for container<br>Y809 : Invalid date range<br>Y804 : Permitted values of top between 1 - 500<br>Y805 : Multiple containers not supported<br>Y800 : Invalid value for transaction type<br>Y824 : The maximum number of accountIds permitted is 100<br>Y824 : The maximum number of categoryIds permitted is 100<br>Y824 : The maximum number of highLevelCategoryIds permitted is 100<br>Y848 : detailCategoryId cannot be provided as input, as the detailedCategory feature is not enabled<br>Y823 : detailCategoryId is not for applicable containers other than bank and card<br>Y824 : The maximum number of detailCategoryIds permitted is 100<br>Y800 : Invalid value for detailCategoryId<br>Y800 : Invalid value for convertToCurrency<br>Y820 : The currency value is not supported for convertToCurrency<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /dataExtracts/userData:
    get:
      tags:
      - "DataExtracts"
      summary: "Get userData"
      description: "The get user data service is used to get a user's modified data for a particular period of time for accounts, transactions, holdings, and provider account information.<br>The time difference between fromDate and toDate fields cannot be more than 60 minutes.<br>By default, pagination is available for the transaction entity in this API. In the first response, the API will retrieve 500 transactions along with other data. The response header will provide a link to retrieve the next set of transactions.<br>In the response body of the first API response, totalTransactionsCount indicates the total number of transactions the API will retrieve for the user.<br>This service is only invoked with either admin access token or a cobrand session.<br/>Refer to <a href=\"https://developer.yodlee.com/resources/yodlee/data-extracts/docs/overview\">dataExtracts</a> page for more information.<br><br><b>Note:</b><li>This service supports the localization feature and accepts locale as a header parameter.</li>"
      operationId: "getDataExtractsUserData"
      parameters:
      - name: "fromDate"
        in: "query"
        description: "From DateTime (YYYY-MM-DDThh:mm:ssZ)"
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "loginName"
        in: "query"
        description: "Login Name"
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "toDate"
        in: "query"
        description: "To DateTime (YYYY-MM-DDThh:mm:ssZ)"
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/DataExtractsUserDataResponse"
        400:
          description: "Y800 : Invalid value for eventName<br>Y821 : Data update event not supported<br>Y800 : Invalid value for fromDate.fromDate cannot be greater than current time<br>Y800 : Invalid value for toDate.toDate cannot be greater than current time<br>.Y800 : Invalid value for fromDate or toDate.fromDate and toDate cannot be older than 7 days<br>Y800 : Invalid value for fromDate.fromDate can not be greater than toDate<br>Y800 : Invalid value for loginName"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providers:
    get:
      tags:
      - "Providers"
      summary: "Get Providers"
      description: "<i>This API Reference guide is intended for FastLink 4 Users.  For FastLink 3 Users, there are additional integration notes related to this endpoint <a href=\"https://developer.yodlee.com/resources/yodlee/fastlink-3/docs/api-integrations\">here</a>.</i><br><br>The get provider service is used to get all the providers that are enabled, search a provider service by name or routing number and get popular sites of a region.<br><br>Searching for a provider using a routing number is applicable only to the USA and Canada regions.<br> The valid values for priority are: <br><ol><li> cobrand: Returns providers enabled for the cobrand (Default priority)</li><li>popular: Returns providers popular among users of the customer.</li></ol><br>The skip and top parameters are used for pagination. In the skip and top parameters, pass the number of records to be skipped and retrieved, respectively.The response header provides the links to retrieve the next and previous set of transactions.<br><br> Providers accept the configName as the input to the API and return the providers list based on the configurations of each configName.  For verification, the providers will accept the configName with which has the verification product and the attributes that are chosen in the configName which returns the list of providers that match the criteria. For example,  /ysl/providers?configName=aggregationAndVerification<br><br>Note:</b> <ol><li>In a product flow involving user interaction, Yodlee recommends invoking this service with filters.<li>Without filters, the service may perform slowly as it takes a few minutes to return data in the response.<li>The AuthParameter appears in the response only in case of token-based aggregation sites.<li>The pagination feature only applies when the priority parameter is set as cobrand. If no values are provided in the skip and top parameters, the API will only return the first 500 records.<li>This service supports the localization feature and accepts locale as a header parameter.<li>The capability has been deprecated in query parameter and response. </li></ol>"
      operationId: "getAllProviders"
      parameters:
      - name: "capability"
        in: "query"
        description: "CHALLENGE_DEPOSIT_VERIFICATION - capability search is deprecated"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "dataset$filter"
        in: "query"
        description: "Expression to filter the providers by dataset(s) or dataset attribute(s). The default value will be the dataset or dataset attributes configured as default for the customer."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fullAccountNumberFields"
        in: "query"
        description: "Specify to filter the providers with values paymentAccountNumber,unmaskedAccountNumber."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "institutionId"
        in: "query"
        description: "Institution Id for Single site selection"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int64"
      - name: "name"
        in: "query"
        description: "Name in minimum 1 character or routing number."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "priority"
        in: "query"
        description: "Search priority"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "providerId"
        in: "query"
        description: "Max 5 Comma seperated Provider Ids"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "skip"
        in: "query"
        description: "skip (Min 0) - This is not applicable along with 'name' parameter."
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      - name: "top"
        in: "query"
        description: "top (Max 500) - This is not applicable along with 'name' parameter."
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ProviderResponse"
        400:
          description: "Y800 : Invalid value for priority<br>Y800 : Invalid value for providerName<br>Y801 : Invalid length for a site search. The search string must have atleast 1 character<br>Y800 : Invalid value for skip<br>Y804 : Permitted values of top between 1 - 500<br>Y821 : Dataset not supported<br>Y820 : The additionalDataSet is not supported for Get provider API"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providers/{providerId}:
    get:
      tags:
      - "Providers"
      summary: "Get Provider Details"
      description: "The get provider detail service is used to get detailed information including the login form for a provider.<br>The response is a provider object that includes information such as name of the provider, <br>provider's base URL, a list of containers supported by the provider, the login form details of the provider, etc.<br>Only enabled datasets, attributes and containers gets returned in the response.<br><br><b>Note:</b><li>This service supports the localization feature and accepts locale as a header parameter.<li>The capability has been deprecated in the response."
      operationId: "getProvider"
      parameters:
      - name: "providerId"
        in: "path"
        description: "providerId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ProviderDetailResponse"
        400:
          description: "Y800 : Invalid value for providerId"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /configs/notifications/events:
    get:
      tags:
      - "Configs"
      summary: "Get Subscribed Notification Events"
      description: "The get events service provides the list of events for which consumers subscribed to receive notifications. <br>"
      operationId: "getSubscribedNotificationEvents"
      parameters:
      - name: "eventName"
        in: "query"
        description: "Name of the webhook subscription event"
        allowEmptyValue: false
        schema:
          type: "string"
          enum:
          - "REFRESH"
          - "DATA_UPDATES"
          - "AUTO_REFRESH_UPDATES"
          - "LATEST_BALANCE_UPDATES"
          - "CREDIT_ACCELERATOR_REPORT_UPDATES"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ConfigsNotificationResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /consents/history/count:
    get:
      tags:
      - "Consents"
      summary: "Get Consent History Count"
      description: "The count service provides the total number of history records for a specific consent. <br/>If you are implementing pagination for consent history, call this endpoint before calling GET /consents/history to know the number of records for the given consent that are returned for the input parameters passed.<br/>"
      operationId: "getConsentHistoryCount"
      parameters:
      - name: "consentId"
        in: "query"
        description: "Consent Id generated through POST Consent."
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fromDate"
        in: "query"
        description: "Consent History from date(YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "toDate"
        in: "query"
        description: "Consent History end date (YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ConsentHistoryCountResponse"
        400:
          description: "Y800 : Invalid value for consentId <br/>Y803 : consentId is required <br/>Y800 : Invalid value for fromDate<br/>Y800 : Invalid value for toDate<br/>Y809 : Invalid date range<br/>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providers/count:
    get:
      tags:
      - "Providers"
      summary: "Get Providers Count"
      description: "The count service provides the total number of providers that get returned in the GET /providers depending on the input parameters passed.<br>If you are implementing pagination for providers, call this endpoint before calling GET /providers to know the number of providers that are returned for the input parameters passed.<br>The functionality of the input parameters remains the same as that of the GET /providers endpoint<br><br><b>Note:</b> <li>The capability has been deprecated in the query parameter.</li>"
      operationId: "getProvidersCount"
      parameters:
      - name: "capability"
        in: "query"
        description: "CHALLENGE_DEPOSIT_VERIFICATION - capability search is deprecated"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "dataset$filter"
        in: "query"
        description: "Expression to filter the providers by dataset(s) or dataset attribute(s). The default value will be the dataset or dataset attributes configured as default for the customer."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fullAccountNumberFields"
        in: "query"
        description: "Specify to filter the providers with values paymentAccountNumber,unmaskedAccountNumber."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "name"
        in: "query"
        description: "Name in minimum 1 character or routing number."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "priority"
        in: "query"
        description: "Search priority"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ProvidersCountResponse"
        400:
          description: "Y800 : Invalid value for priority<br>Y800 : Invalid value for providerName<br>Y801 : Invalid length for a site search. The search string must have at least 1 character<br>Y800 : Invalid value for skip<br>Y804 : Permitted values of top between 1 - 500<br>Y821 : Dataset not supported<br>Y820 : The additionalDataSet is not supported for Get provider API"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /consents/history:
    get:
      tags:
      - "Consents"
      summary: "Get Consent History "
      description: "The get consent history service is used to retrieve all the history related to the consent. <br/>All history event details for few fields like userDataPurge, deidentificationPreference and consentCollectionPeriod may not be available for older AU Open Banking consents and other Open Banking regions.<br/>For any consent, history will be captured and available from consent authorization (consent status Active) event onwards.<br/><b>Note:</b><br/>  i. Duration (fromDate and toDate) is optional. In the absence of duration, one year history is retrieved from today's date.<br/>ii. The pagination feature is available by default. If no values are passed in the skip and top parameters, the API will only return the first 500 records.<br/>"
      operationId: "getConsentHistory"
      parameters:
      - name: "consentId"
        in: "query"
        description: "Consent Id generated through POST Consent."
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fromDate"
        in: "query"
        description: "Consent History from date(YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "skip"
        in: "query"
        description: "skip (Min 0)"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      - name: "toDate"
        in: "query"
        description: "Consent History end date (YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "top"
        in: "query"
        description: "top (Max 500)"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ConsentHistoryResponse"
        400:
          description: "Y800 : Invalid value for consentId <br/>Y803 : consentId is required <br/>Y804 : Permitted values of top between 1 - 500<br/>Y800 : Invalid value for skip<br/>Y800 : Invalid value for fromDate<br/>Y800 : Invalid value for toDate<br/>Y809 : Invalid date range<br/>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /derived/networth:
    get:
      tags:
      - "Derived"
      summary: "Get Networth Summary"
      description: "The get networth service is used to get the networth for the user.<br>If the include parameter value is passed as details then networth with historical balances is returned. <br>"
      operationId: "getNetworth"
      parameters:
      - name: "accountIds"
        in: "query"
        description: "comma separated accountIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "container"
        in: "query"
        description: "bank/creditCard/investment/insurance/loan/realEstate/otherAssets/otherLiabilities"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fromDate"
        in: "query"
        description: "from date for balance retrieval (YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "include"
        in: "query"
        description: "details"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "interval"
        in: "query"
        description: "D-daily, W-weekly or M-monthly"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "skip"
        in: "query"
        description: "skip (Min 0)"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      - name: "toDate"
        in: "query"
        description: "toDate for balance retrieval (YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "top"
        in: "query"
        description: "top (Max 500)"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/DerivedNetworthResponse"
        400:
          description: "Y800 : Invalid value for accountIds<br>Y800 : Invalid value for fromDate<br>Y800 : Invalid value for toDate<br>Y809 : Invalid date range<br>Y800 : Invalid value for interval<br>Y802 : Future date not allowed<br>Y814 : Exchange rate not available for currency<br>Y800 : Invalid value for container"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user/samlLogin:
    post:
      tags:
      - "User"
      summary: "Saml Login"
      description: "The SAML login service is used to authenticate system users with a SAML response.<br>A new user will be created with the input provided if that user isn't already in the system.<br>For existing users, the system will make updates based on changes or new information.<br>When authentication is successful, a user session token is returned.<br><br><b>Note:</b> <li>The content type has to be passed as application/x-www-form-urlencoded. <li>issuer, source and samlResponse should be passed as body parameters.</li>"
      operationId: "samlLogin"
      parameters:
      - name: "issuer"
        in: "query"
        description: "issuer"
        required: true
        schema:
          type: "string"
      - name: "samlResponse"
        in: "query"
        description: "samlResponse"
        required: true
        schema:
          type: "string"
      - name: "source"
        in: "query"
        description: "source"
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UserResponse"
        400:
          description: "Y013 : Invalid value for samlResponse<br>Y013 : Invalid value for issuer"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /transactions/categories/rules/{ruleId}:
    put:
      tags:
      - "Transactions"
      summary: "Update Transaction Categorization Rule"
      description: "The update transaction categorization rule service is used to update a categorization rule for both system-defined category as well as user-defined category.<br>ruleParam JSON input should be as explained in the create transaction categorization rule service.<br>The HTTP response code is 204 (Success without content).<br>"
      operationId: "updateTransactionCategorizationRule"
      parameters:
      - name: "ruleId"
        in: "path"
        description: "ruleId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      requestBody:
        description: "transactionCategoriesRuleRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransactionCategorizationRuleRequest"
        required: true
      responses:
        204:
          description: "Updated Successfully"
          content: {}
        400:
          description: "Y800 : Invalid value for ruleId<br>Y806 : Invalid input"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    post:
      tags:
      - "Transactions"
      summary: "Run Transaction Categorization Rule"
      description: "The run transaction categorization rule service is used to run a rule on transactions, to categorize the transactions.<br>The HTTP response code is 204 (Success with no content).<br>"
      operationId: "runTransactionCategorizationRule"
      parameters:
      - name: "action"
        in: "query"
        required: true
        schema:
          type: "string"
          default: "run"
          enum:
          - "run"
      - name: "ruleId"
        in: "path"
        description: "Unique id of the categorization rule"
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        204:
          description: "Run Successfully"
          content: {}
        400:
          description: "Y800 : Invalid value for ruleId<br>Y400 : Categorization already in progress"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "Transactions"
      summary: "Delete Transaction Categorization Rule"
      description: "The delete transaction categorization rule service is used to delete the given user-defined transaction categorization rule for both system-defined category as well as user-defined category.<br>This will delete all the corresponding rule clauses associated with the rule.<br>The HTTP response code is 204 (Success without content).<br>"
      operationId: "deleteTransactionCategorizationRule"
      parameters:
      - name: "ruleId"
        in: "path"
        description: "ruleId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        204:
          description: "Deleted Successfully"
          content: {}
        400:
          description: "Y800 : Invalid value for ruleId"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /documents/{documentId}:
    get:
      tags:
      - "Documents"
      summary: "Download a Document"
      description: "The get document details service allows consumers to download a document. The document is provided in base64.<br>This API is a premium service which requires subscription in advance to use.  Please contact Yodlee Client Services for more information. <br>"
      operationId: "downloadDocument"
      parameters:
      - name: "documentId"
        in: "path"
        description: "documentId"
        required: true
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/DocumentDownloadResponse"
        400:
          description: "Y800 : Invalid value for documentId"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "Documents"
      summary: "Delete Document"
      description: "The delete document service allows the consumer to delete a document. The deleted document will not be returned in the get documents API. The HTTP response code is 204 (success without content).<br>Documents can be deleted only if the document related dataset attributes are subscribed.<br>"
      operationId: "deleteDocument"
      parameters:
      - name: "documentId"
        in: "path"
        description: "documentId"
        required: true
        schema:
          type: "string"
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y800 : Invalid value for documentId<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user/accessTokens:
    get:
      tags:
      - "User"
      summary: "Get Access Tokens"
      description: "The Get Access Tokens service is used to retrieve the access tokens for the application id(s) provided.<br>URL in the response can be used to launch the application for which token is requested.<br><br><b>Note:</b> <li>This endpoint is deprecated for customers using the API Key-based authentication and is applicable only to customers who use the SAML-based authentication.<br>"
      operationId: "getAccessTokens"
      parameters:
      - name: "appIds"
        in: "query"
        description: "appIds"
        required: true
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UserAccessTokensResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /consents/{consentId}:
    get:
      tags:
      - "Consents"
      summary: "Get Authorization Details"
      description: "The get authorization URL for consent service provides the authorization URL for the renew consent flow, within the consent dashboard.<b>Note:</b>This service supports the localization feature and accepts locale as a header parameter.<br>"
      operationId: "getConsentDetails"
      parameters:
      - name: "consentId"
        in: "path"
        description: "Consent Id generated through POST Consent."
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UpdatedConsentResponse"
        400:
          description: "Y800 : Invalid value for consentId <br/>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    put:
      tags:
      - "Consents"
      summary: "Put Consent"
      description: "The update consent service is used to capture the user acceptance of the consent presented to him or her. <br/>This service returns the authorization-redirect URL that should be used to display to the user, the bank's authentication interface.<b>Note:</b>This service supports the localization feature and accepts locale as a header parameter.<br>"
      operationId: "updateConsent"
      parameters:
      - name: "consentId"
        in: "path"
        description: "Consent Id generated through POST Consent."
        required: true
        schema:
          type: "integer"
          format: "int64"
      requestBody:
        description: "Applicable Open Banking data cluster values."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConsentRequest"
        required: true
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UpdatedConsentResponse"
        400:
          description: "Y800 : Invalid value for consentId <br/>Y800 : Invalid value for consentParam <br/>Y802 : The consent duration days is outside of the range selected during onboarding, hence consentDurationDays not allowed<br>Y803 : consent duration days preference required consentParam <br/>Y812 : Required field/value - scopeId missing in the consentParam <br/>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providerAccounts/{providerAccountId}/preferences:
    put:
      tags:
      - "ProviderAccounts"
      summary: "Update Preferences"
      description: "This endpoint is used to update preferences like data extracts and auto refreshes without triggering refresh for the providerAccount.<br>Setting isDataExtractsEnabled to false will not trigger data extracts notification and dataExtracts/events will not reflect any data change that is happening for the providerAccount.<br>Modified data will not be provided in the dataExtracts/userData endpoint.<br>Setting isAutoRefreshEnabled to false will not trigger auto refreshes for the provider account.<br>"
      operationId: "updatePreferences"
      parameters:
      - name: "providerAccountId"
        in: "path"
        description: "providerAccountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      requestBody:
        description: "preferences"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProviderAccountPreferencesRequest"
        required: true
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y800 : Invalid value for preferences<br>Y800 : Invalid value for preferences.isDataExtractsEnabled<br>Y800 : Invalid value for preferences.isAutoRefreshEnabled<br>Y807 : Resource not found<br>Y830 : Data extracts feature has to be enabled to set preferences.isDataExtractsEnabled as true<br>Y830 : Auto refresh feature has to be enabled to set preferences.isAutoRefreshEnabled as true<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /auth/token:
    post:
      tags:
      - "Auth"
      summary: "Generate Access Token"
      description: "<b>Generate Access Token using client credential authentication.</b><br>This service returns access tokens required to access Yodlee 1.1 APIs. These tokens are the simplest and easiest of several alternatives for authenticating with Yodlee servers.<br>The most commonly used services obtain data specific to an end user (your customer). For these services, you need a <b>user access token</b>. These are simply tokens created with the user name parameter (<b>loginName</b>) set to the id of your end user.  <i><br><br><b>Note:</b> You determine this id and you must ensure it's unique among all your customers.</i> <br><br>Each token issued has an associated user. The token passed in the http headers explicitly names the user referenced in that API call.<br><br>Some of the APIs do administrative work, and don't reference an end user. <br/>One example of administrative work is key management. Another example is registering a new user explicitly, with <b>POST /user/register</b> call or subscribe to webhook, with <b>POST /config/notifications/events/{eventName}</b>. <br/>To invoke these, you need an <b>admin access token</b>. Create this by passing in your admin user login name in place of a regular user name.<br><br>This service also allows for simplified registration of new users. Any time you pass in a user name not already in use, the system will automatically implicitly create a new user for you. <br>This user will naturally have very few associated details. You can later provide additional user information by calling the <b>PUT user/register service</b>.<br><br><b>Notes:</b><ul><li>The header <code>Authorization</code> does not apply to this service.</li><li>The content type has to be passed as application/x-www-form-urlencoded.<li>Upgrading to client credential authentication requires infrastructure reconfiguration. <li>Customers wishing to switch from another authentication scheme to client credential authentication, please contact Yodlee Client Services.</li><li>Default expiry time of user access token and admin access token is 30 minutes.</li></ul>"
      operationId: "generateAccessToken"
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                clientId:
                  type: "string"
                  description: "clientId issued by Yodlee is used to generate the OAuth token for authentication."
                secret:
                  type: "string"
                  description: "secret issued by Yodlee is used to generate the OAuth token for authentication."
      responses:
        201:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ClientCredentialTokenResponse"
        400:
          description: "Y800 : Invalid value for loginName<br>Y806 : Invalid input<br>Y801 : Invalid length for loginName<br>Y303 : clientId or secret is missing<br>Y301 : Invalid clientId or secret<br>Y305 : Access token can be issued only for pre-registered users<br>Y004 : Inactive user<br>Y901 : Service not supported<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Y016 : loginName header missing<br>Y015 : Unauthorized User<br>Y016 : Api-Version header missing<br>Y020 : Invalid token in authorization header<br>Y027 : Unsupported authentication type"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "Auth"
      summary: "Delete Token"
      description: "This endpoint revokes the token passed in the Authorization header. This service is applicable for JWT-based (and all API key-based) authentication and also client credential (clientId and secret) based authentication. This service does not return a response body. The HTTP response code is 204 (success with no content). <br>Tokens generally have limited lifetime of up to 30 minutes. You will call this service when you finish working with one user, and you want to delete the valid token rather than simply letting it expire.<br><br><b>Note:</b> <li>Revoking an access token (either type, admin or a user token) can take up to 2 minutes, as the tokens are stored on a distributed system.<br/>"
      operationId: "deleteToken"
      responses:
        204:
          description: "No Content"
          content: {}
        401:
          description: "Y020 : Invalid token in authorization header<br>Y023 : Token has expired<br>Y016 : Api-Version header missing<br>Y015 : Unauthorized User<br>Y027 : Unsupported authentication type<br>Y007 : Authorization header missing<br>Y020 : Invalid token in authorization header"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user:
    get:
      tags:
      - "User"
      summary: "Get User Details"
      description: "The get user details service is used to get the user profile information and the application preferences set at the time of user registration.<br>"
      operationId: "getUser"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UserDetailResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    put:
      tags:
      - "User"
      summary: "Update User Details"
      description: "The update user details service is used to update user details like name, address, currency preference, etc.<br>Currency provided in the input will be respected in the derived services and the amount fields in the response will be provided in the preferred currency.<br>The HTTP response code is 204 (Success without content). <br><br> <b>Login Name Change Feature:</b> loginName can be passed to update the user's login name. Once the loginName is updated, to access the user's data, a token with the changed loginName must be created. This feature is supported only Client Credentials authentication methods.<br><b>Note:</b> <li>We strongly recommend to immediately delete the old access token once the user's loginName is successfully changed to avoid misuse.</li> <li>After updating the login name, the already sent data extract events with the old login name will no more be functional. Replace the loginName with new loginName or try polling method to retrieve the data.</li><br>"
      operationId: "updateUser"
      requestBody:
        description: "userRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
        required: true
      responses:
        204:
          description: "No Content"
          content: {}
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providerAccounts/{providerAccountId}:
    get:
      tags:
      - "ProviderAccounts"
      summary: "Get Provider Account Details"
      description: "The get provider account details service is used to learn the status of adding accounts and updating accounts.<br>This service has to be called continuously to know the progress level of the triggered process. This service also provides the MFA information requested by the provider site.<br>When <i>include = credentials</i>, questions is passed as input, the service returns the credentials (non-password values) and questions stored in the Yodlee system for that provider account. <br><br><b>Note:</b> <li>The password and answer fields are not returned in the response.</li>"
      operationId: "getProviderAccount"
      parameters:
      - name: "include"
        in: "query"
        description: "include credentials,questions"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "providerAccountId"
        in: "path"
        description: "providerAccountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      - name: "requestId"
        in: "query"
        description: "The unique identifier for the request that returns contextual data"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ProviderAccountDetailResponse"
        400:
          description: "Y800 : Invalid value for providerAccountId<br>Y816 : questions can only be requested for questionAndAnswer Supported Sites"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "ProviderAccounts"
      summary: "Delete Provider Account"
      description: "The delete provider account service is used to delete a provider account from the Yodlee system. This service also deletes the accounts that are created in the Yodlee system for that provider account. <br>This service does not return a response. The HTTP response code is 204 (Success with no content).<br>"
      operationId: "deleteProviderAccount"
      parameters:
      - name: "providerAccountId"
        in: "path"
        description: "providerAccountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "OK"
          content: {}
        400:
          description: "Y800 : Invalid value for providerAccountId<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /accounts:
    get:
      tags:
      - "Accounts"
      summary: "Get Accounts"
      description: "<i>This API Reference guide is intended for FastLink 4 Users.  For FastLink 3 Users, there are additional integration notes related to this endpoint <a href=\"https://developer.yodlee.com/resources/yodlee/fastlink-3/docs/api-integrations\">here</a>.</i><br><br>The get accounts service provides information about accounts added by the user.<br>By default, this service returns information for active and to be closed accounts.<br>If requestId is provided, the accounts that are updated in the context of the requestId will be provided in the response.<br><br> This API returns all the accounts that were chosen by the user in both the verification selection screen and the aggregation selection screen. In FastLink 4, we have separate APIs to provide the data for verification product-related data (/verification/verifiedAccounts) and the GET accounts should be utilized with an additional query param (isSelectedForAggregation=true) to retrieve only the aggregation accounts.<br><br> Pagination is made available to the advisors to retrieve account data of all users assigned to them. The skip and top parameters are used for pagination. In the skip and top parameters pass the number of records to be skipped and retrieved, respectively.<br>"
      operationId: "getAllAccounts"
      parameters:
      - name: "accountId"
        in: "query"
        description: "Comma separated accountIds."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "container"
        in: "query"
        description: "bank/creditCard/investment/insurance/loan/reward/realEstate/otherAssets/otherLiabilities"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "convertToCurrency"
        in: "query"
        description: "On-demand currency conversion parameter"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "include"
        in: "query"
        description: "profile, holder, fullAccountNumber, fullAccountNumberList, paymentProfile, autoRefresh<br><b>Note:</b><br><li>fullAccountNumber is deprecated and is replaced with fullAccountNumberList in include parameter and response.</li><br><li>profile is deprecated, and to retrieve the profile information, call the GET /verification/holderProfile API instead.</li>"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "providerAccountId"
        in: "query"
        description: "Comma separated providerAccountIds."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "requestId"
        in: "query"
        description: "The unique identifier that returns contextual data"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "status"
        in: "query"
        description: "ACTIVE,INACTIVE,TO_BE_CLOSED,CLOSED"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        400:
          description: "Y800 : Invalid value for status<br>Y800 : Invalid value for container<br>Y800 : Invalid value for providerAccountId<br>Y824 : The maximum number of accountIds permitted is 100"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    post:
      tags:
      - "Accounts"
      summary: "Add Manual Account"
      description: "The add account service is used to add manual accounts.<br>The response of add account service includes the account name , account number and Yodlee generated account id.<br>All manual accounts added will be included as part of networth calculation by default.<br>Add manual account support is available for bank, card, investment, insurance and loan container only.<br><br><b>Note:</b><ul> <li>A real estate account addition is only supported for SYSTEM and MANUAL valuation type.</li></ul>"
      operationId: "createManualAccount"
      requestBody:
        description: "accountParam"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAccountRequest"
        required: true
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/CreatedAccountResponse"
        400:
          description: "Y800 : Invalid value for accountParam<br>Y811 : Real Estate Property value already exists<br>Y862 : The provided address is invalid, or the valuation is not available<br>Y869 : Multiple matches found. Provide the complete address or call the POST /accounts/evaluateAddress API to retrieve the list of matched addresses<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user/unregister:
    delete:
      tags:
      - "User"
      summary: "Delete User"
      description: "The delete user service is used to delete or unregister a user from Yodlee. <br>Once deleted, the information related to the users cannot be retrieved. <br>The HTTP response code is 204 (Success without content)<br>"
      operationId: "unregister"
      responses:
        204:
          description: "No Content"
          content: {}
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /holdings/assetClassificationList:
    get:
      tags:
      - "Holdings"
      summary: "Get Asset Classification List"
      description: "The get asset classifications list service is used to get the supported asset classifications. <br>The response includes different classification types like assetClass, country, sector, style, etc. and the values corresponding to each type.<br>"
      operationId: "getAssetClassificationList"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/HoldingAssetClassificationListResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /consents/preferences:
    get:
      tags:
      - "Consents"
      summary: "Get Consents Preferences"
      description: "This API service provides user's preferences for the consent"
      operationId: "getConsentPreferences"
      parameters:
      - name: "consentId"
        in: "query"
        description: "consentId"
        required: true
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ConsentPreferencesResponse"
        400:
          description: "Y800 : Invalid value for consentId <br/>Y812 :Required field/value - consentId missing in the request <br/>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /auth/apiKey/{key}:
    delete:
      tags:
      - "Auth"
      summary: "Delete API Key"
      description: "This endpoint allows an existing API key to be deleted.<br>You can use one of the following authorization methods to access this API:<br><ol><li>cobsession</li><li>JWT token</li></ol> <b>Notes:</b> <li>This service is not available in developer sandbox environment and will be made availablefor testing in your dedicated environment. "
      operationId: "deleteApiKey"
      parameters:
      - name: "key"
        in: "path"
        description: "key"
        required: true
        schema:
          type: "string"
      responses:
        201:
          description: "OK"
          content: {}
        204:
          description: "No Content"
          content: {}
        400:
          description: "Y807 : Resource not found<br>Y806 : Invalid input"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providerAccounts:
    get:
      tags:
      - "ProviderAccounts"
      summary: "Get Provider Accounts"
      description: "The get provider accounts service is used to return all the provider accounts added by the user. <br>This includes the failed and successfully added provider accounts.<br>"
      operationId: "getAllProviderAccounts"
      parameters:
      - name: "include"
        in: "query"
        description: "include"
        schema:
          type: "string"
      - name: "providerIds"
        in: "query"
        description: "Comma separated providerIds."
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ProviderAccountResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    put:
      tags:
      - "ProviderAccounts"
      summary: "Update Account"
      description: "<i>This API Reference guide is intended for FastLink 4 Users.  For FastLink 3 Users, there are additional integration notes related to this endpoint <a href=\"https://developer.yodlee.com/resources/yodlee/fastlink-3/docs/api-integrations\">here</a>.</i><br><br>The update account API is used to:<br> <ul><li>Retrieve the latest information of all the eligible accounts that belong to the user.<li>Check the status of the providerAccount before invoking this API. Do not call this API to trigger any action on a providerAccount when an action is already in progress for the providerAccount.<li>If the customer has subscribed to the REFRESH event notification and invoked this API, relevant notifications will be sent to the customer.<li>Check all the dataset additional statuses returned in the response because the provider account status is drawn from the dataset additional statuses.<li>Updating preferences using this API will trigger refreshes.<li> The content type has to be passed as application/json for the body parameter.</ul><br>-----------------------------------------------------------------------------------------------------------------------------------------<br><br><b>Update All Eligible Accounts - Notes:</b><br><ul><li>This API will trigger a refresh for all the eligible provider accounts(both OB and credential-based accounts).<li>This API will not refresh closed, inactive, or UAR accounts, or accounts with refreshes in-progress or recently refreshed non-OB accounts.<li>No parameters should be passed to this API to trigger this action.<li>Do not call this API often. Our recommendation is to call this only at the time the user logs in to your app because it can hamper other API calls performance.<li>The response only contains information for accounts that were refreshed. If no accounts are eligible for refresh, no response is returned.</ul>"
      operationId: "editCredentialsOrRefreshProviderAccount"
      parameters:
      - name: "providerAccountIds"
        in: "query"
        description: "comma separated providerAccountIds"
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      requestBody:
        description: "loginForm or field entity"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProviderAccountRequest"
        required: false
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UpdatedProviderAccountResponse"
        400:
          description: "Y805 : Multiple providerAccountId not supported for updating credentials<br>Y800 : Invalid value for credentialsParam<br>Y400 : id and value in credentialsParam are mandatory<br>Y806 : Invalid input<br>Y823 : Credentials are not applicable for real estate aggregated / manual accounts<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /transactions/count:
    get:
      tags:
      - "Transactions"
      summary: "Get Transactions Count"
      description: "The count service provides the total number of transactions for a specific user depending on the input parameters passed.<br>If you are implementing pagination for transactions, call this endpoint before calling GET /transactions to know the number of transactions that are returned for the input parameters passed.<br>The functionality of the input parameters remains the same as that of the GET /transactions endpoint.<br>If the difference between fromDate and toDate is more than 2 years, API will return the count of last 2 years from the toDate.<br>"
      operationId: "getTransactionsCount"
      parameters:
      - name: "accountId"
        in: "query"
        description: "Comma separated accountIds\t"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "baseType"
        in: "query"
        description: "DEBIT/CREDIT"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "categoryId"
        in: "query"
        description: "Comma separated categoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "categoryType"
        in: "query"
        description: "Transaction Category Type(LOAN, UNCATEGORIZE, INCOME, TRANSFER, EXPENSE or DEFERRED_COMPENSATION)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "container"
        in: "query"
        description: "bank/creditCard/investment/insurance/loan"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "detailCategoryId"
        in: "query"
        description: "Comma separated detailCategoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fromDate"
        in: "query"
        description: "Transaction from date(YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "highLevelCategoryId"
        in: "query"
        description: "Comma separated highLevelCategoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "keyword"
        in: "query"
        description: "Transaction search text\t"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "toDate"
        in: "query"
        description: "Transaction end date (YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "type"
        in: "query"
        description: "Transaction Type(SELL,SWEEP, etc.)"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/TransactionCountResponse"
        400:
          description: "Y800 : Invalid value for detailCategoryId<br>Y848 : detailCategoryId cannot be provided as input, as the detailedCategory feature is not enabled<br>Y823 : detailCategoryId is not applicable for containers other than bank and card<br>Y824 : The maximum number of detailCategoryIds permitted is 100<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /derived/transactionSummary:
    get:
      tags:
      - "Derived"
      summary: "Get Transaction Summary"
      description: "The transaction summary service provides the summary values of transactions for the given date range by category type, high-level categories, or system-defined categories.<br><br>Yodlee has the transaction data stored for a day, month, year and week per category as per the availability of user's data. If the include parameter value is passed as details, then summary details will be returned depending on the interval passed-monthly is the default.<br><br><b>Notes:</b><ol> <li> Details can be requested for only one system-defined category<li>Passing categoryType is mandatory except when the groupBy value is CATEGORY_TYPE<li>Dates will not be respected for monthly, yearly, and weekly details<li>When monthly details are requested, only the fromDate and toDate month will be respected<li>When yearly details are requested, only the fromDate and toDate year will be respected<li>For weekly data points, details will be provided for every Sunday date available within the fromDate and toDate<li>This service supports the localization feature and accepts locale as a header parameter</li></ol>"
      operationId: "getTransactionSummary"
      parameters:
      - name: "accountId"
        in: "query"
        description: "comma separated account Ids"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "categoryId"
        in: "query"
        description: "comma separated categoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "categoryType"
        in: "query"
        description: "LOAN, INCOME, EXPENSE, TRANSFER, UNCATEGORIZE or DEFERRED_COMPENSATION"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fromDate"
        in: "query"
        description: "YYYY-MM-DD format"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "groupBy"
        in: "query"
        description: "CATEGORY_TYPE, HIGH_LEVEL_CATEGORY or CATEGORY"
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "include"
        in: "query"
        description: "details"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "includeUserCategory"
        in: "query"
        description: "TRUE/FALSE"
        allowEmptyValue: false
        schema:
          type: "boolean"
      - name: "interval"
        in: "query"
        description: "D-daily, W-weekly, M-mothly or Y-yearly"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "toDate"
        in: "query"
        description: "YYYY-MM-DD format"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/DerivedTransactionSummaryResponse"
        400:
          description: "Y010 : Invalid session<br>Y800 : Invalid value for accountId<br>Y800 : Invalid value for groupBy<br>Y803 : groupBy required<br>Y803 : categoryType required<br>Y800 : Invalid value for categoryId<br>Y800 : Invalid value for fromDate<br>Y800 : Invalid value for toDate<br>Y800 : Invalid value for fromDate or toDate<br>Y814 : Exchange rate not available for currency<br>Y815 : Cannot apply filter on categoryId if groupBy value is CATEGORY_TYPE<br>Y816 : User-defined category details can only be requested for one system categoryId with groupBy='CATEGORY'<br>Y824 : The maximum number of accountIds permitted is 100<br>Y824 : The maximum number of categoryIds permitted is 100<br>Y824 : The maximum number of categoryTypes permitted is 100"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /documents/search:
    post:
      tags:
      - "User Documents"
      summary: "Get User Documents"
      description: "The Get User Documents service will allow customers to search or retrieve metadata related to PDF documents uploaded by user through the FastLink 4 flow."
      operationId: "getuserdocuments"
      requestBody:
        description: "getDocumentsRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetDocumentsRequest"
        required: false
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/GetDocumentsResponse"
        400:
          description: "Y800 : Invalid value for ids<br>Y800 : Invalid value for accountIds<br>Y800 : Invalid value for ids or accountIds<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /consents/{consentId}/renewal:
    put:
      tags:
      - "Consents"
      summary: "Renew Consent"
      description: "The consent renewal service is used to renew the consent by validating the consent state. This API supports both UK and AU Open Banking. </br><b>Renewing an UK Open Banking consent:</b><br><li>Before the grace period of 90 days: The consent will be renewed using the third-party provider (TPP) renewal process that Yodlee does, and no consent reauthorisation is required.The API response will contain the complete renewed consent object.</li><li>After the grace period of 90 days: The API will provide an authorisation URL to redirect the user to the financial institution site to complete the consent reauthorization process.<br><b>Renewing an AU Open Banking consent:</b><br><li>Invoke this API, and in the API response, an authorisation URL will be provided to redirect the user to the financial institution site to complete the consent reauthorisation process.</li><br>"
      operationId: "renewConsent"
      parameters:
      - name: "consentId"
        in: "path"
        description: "Consent Id to be renewed."
        required: true
        schema:
          type: "integer"
          format: "int64"
      requestBody:
        description: "renewal entity from consent details service."
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RenewConsentRequest"
        required: false
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/RenewConsentResponse"
        400:
          description: "Y800 : Invalid value for consentId <br/>Y800 : Invalid value for consentParam <br/>Y802 : The consent duration days is outside of the range selected during onboarding, hence consentDurationDays not allowed<br/>Y803 : consent duration days preference required consentParam <br/>Y812 : Required field/value - scopeId missing in the consentParam <br/>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providerAccounts/refresh:
    put:
      tags:
      - "ProviderAccounts"
      summary: "Refresh Provider Account"
      description: "This api service will allow you to refresh the Non-MFA provider accounts against a configName, i.e refresh will respect the configurations of the configName while refreshing the account.<br>Note: this service will only work with FastLink 4 users.<br>"
      operationId: "refreshProviderAccount"
      requestBody:
        description: "refreshRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProviderAccountRefreshRequest"
        required: true
      responses:
        201:
          description: "CREATED"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/RefreshProviderAccountResponse"
        400:
          description: "Y800 : Invalid value for configName<br>Y803 : configName required<br>Y812 : Required field/value providerAccountId missing in the request<br>Y800 : Invalid value for providerAccountId<br>Y825 : Update not allowed. Reason: providerAccountId {id} REFRESHED_RECENTLY<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /transactions/categories/txnRules:
    get:
      tags:
      - "Transactions"
      summary: "Get Transaction Categorization Rules"
      description: "The get transaction categorization rule service is used to get all the categorization rules.<br>"
      operationId: "getTransactionCategorizationRules"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/TransactionCategorizationRuleResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /transactions/categories/{categoryId}:
    delete:
      tags:
      - "Transactions"
      summary: "Delete Category"
      description: "The delete transaction categories service is used to delete the given user-defined category.<br>The HTTP response code is 204 (Success without content).<br>"
      operationId: "deleteTransactionCategory"
      parameters:
      - name: "categoryId"
        in: "path"
        description: "categoryId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        204:
          description: "Deleted Successfully"
          content: {}
        400:
          description: "Y800 : Invalid value for categoryId"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /documents:
    get:
      tags:
      - "Documents"
      summary: "Get Documents"
      description: "The get documents service allows customers to search or retrieve metadata related to documents. <br>The API returns the document as per the input parameters passed. If no date range is provided then all downloaded documents will be retrieved. Details of deleted documents or documents associated to closed providerAccount will not be returned. <br>This API is a premium service which requires subscription in advance to use.  Please contact Yodlee Client Services for more information. <br>"
      operationId: "getDocuments"
      parameters:
      - name: "Keyword"
        in: "query"
        description: "The string used to search a document by its name."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "accountId"
        in: "query"
        description: "The unique identifier of an account. Retrieve documents for a given accountId."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "docType"
        in: "query"
        description: "Accepts only one of the following valid document types: STMT, TAX, and EBILL."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fromDate"
        in: "query"
        description: "The date from which documents have to be retrieved."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "toDate"
        in: "query"
        description: "The date to which documents have to be retrieved."
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/DocumentResponse"
        400:
          description: "Y800 : Invalid value for accountId<br>Y800 : Invalid value for fromDate<br>Y800 : Invalid value for toDate<br>Y800 : Invalid value for docType"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "User Documents"
      summary: "Delete User Documents"
      description: "The Delete User Documents service allows the consumer to delete the PDF documents uploaded by user through FastLink 4 flow.<br>The deleted documents will not be returned in the Get User Documents API.<br>The HTTP response code is 204 (success without content)."
      operationId: "deleteuserdocuments"
      requestBody:
        description: "deleteDocumentsRequest"
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/DeleteDocumentsRequest"
        required: true
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y800 : Invalid value for documentId<br>Y904 : Internal exception<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /accounts/evaluateAddress:
    post:
      tags:
      - "Accounts"
      summary: "Evaluate Address"
      description: "Use this service to validate the address before adding the real estate account.<br>If the address is valid, the service will return the complete address information.<br>The response will contain multiple addresses if the user-provided input matches with multiple entries in the vendor database.<br>In the case of multiple matches, the user can select the appropriate address from the list and then invoke the add account service with the complete address.<br><br><b>Note:</b> <ul><li>Yodlee recommends to use this service before adding the real estate account to avoid failures.</li></ul>"
      operationId: "evaluateAddress"
      requestBody:
        description: "addressParam"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvaluateAddressRequest"
        required: true
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/EvaluateAddressResponse"
        400:
          description: "Y806 : Invalid input<br>Y800 : Invalid value for zip<br>Y812 : Required field/value - address missing in the request<br>Y812 : Required field/value - street missing in the request<br>Y812 : Required field/value - state & city / zip missing in the request"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /accounts/{accountId}:
    get:
      tags:
      - "Accounts"
      summary: "Get Account Details"
      description: "The get account details service provides detailed information of an account.<br><br><b>Note:</b><li> fullAccountNumber is deprecated and is replaced with fullAccountNumberList in include parameter and response.</li>"
      operationId: "getAccount"
      parameters:
      - name: "accountId"
        in: "path"
        description: "accountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      - name: "convertToCurrency"
        in: "query"
        description: "On-demand currency conversion parameter"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "include"
        in: "query"
        description: "profile, holder, fullAccountNumber, fullAccountNumberList, paymentProfile, autoRefresh<br><b>Note:</b>fullAccountNumber is deprecated and is replaced with fullAccountNumberList in include parameter and response."
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    put:
      tags:
      - "Accounts"
      summary: "Update Account"
      description: "The update account service is used to update manual and aggregated accounts.<br>The HTTP response code is 204 (Success without content).<br>Update manual account support is available for bank, card, investment, insurance, loan, otherAssets, otherLiabilities and realEstate containers only.<br><br><b>Note:</b><li> A real estate account update is only supported for SYSTEM and MANUAL valuation type.</li> <li> A real estate account can be linked to a loan account by passing accountId of a loan account in linkedAccountIds .</li> <li> Attribute <b>isEbillEnrolled</b> is deprecated as it is applicable for bill accounts only.</li>"
      operationId: "updateAccount"
      parameters:
      - name: "accountId"
        in: "path"
        description: "accountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      requestBody:
        description: "accountRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateAccountRequest"
        required: true
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y800 : Invalid value for accountId<br>Y800 : Invalid value for updateParam<br>Y862 : The provided address is invalid, or the valuation is not available<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>Y869 : Multiple matches found. Provide the complete address or call the POST /accounts/evaluateAddress API to retrieve the list of matched addresses<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "Accounts"
      summary: "Delete Account"
      description: "The delete account service allows an account to be deleted.<br>This service does not return a response. The HTTP response code is 204 (Success with no content).<br>"
      operationId: "deleteAccount"
      parameters:
      - name: "accountId"
        in: "path"
        description: "accountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y800 : Invalid value for accountId<br>Y806 : Invalid input<br>Y807 : Resource not found<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /accounts/historicalBalances:
    get:
      tags:
      - "Accounts"
      summary: "Get Historical Balances"
      description: "The historical balances service is used to retrieve the historical balances for an account or a user.<br>Historical balances are daily (D), weekly (W), and monthly (M). <br>The interval input should be passed as D, W, and M to retrieve the desired historical balances. The default interval is daily (D). <br>When no account id is provided, historical balances of the accounts that are active, to be closed, and closed are provided in the response. <br>If the fromDate and toDate are not passed, the last 90 days of data will be provided. <br>The fromDate and toDate should be passed in the YYYY-MM-DD format. <br>The date field in the response denotes the date for which the balance is requested.<br>includeCF needs to be sent as true if the customer wants to return carried forward balances for a date when the data is not available. <br>asofDate field in the response denotes the date as of which the balance was updated for that account.<br>When there is no balance available for a requested date and if includeCF is sent as true, the previous date for which the balance is available is provided in the response. <br>When there is no previous balance available, no data will be sent. <br>By default, pagination is available for the historicalBalances entity in this API. The skip and top parameters are used for pagination. In the skip and top parameters, pass the number of records to be skipped and retrieved, respectively. The response header provides the links to retrieve the next and previous set of historical balances.<br> The API will only retrieve a maximum 500 records by default when values for skip and top parameters are not provided."
      operationId: "getHistoricalBalances"
      parameters:
      - name: "accountId"
        in: "query"
        description: "accountId"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fromDate"
        in: "query"
        description: "from date for balance retrieval (YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "includeCF"
        in: "query"
        description: "Consider carry forward logic for missing balances"
        allowEmptyValue: false
        schema:
          type: "boolean"
      - name: "interval"
        in: "query"
        description: "D-daily, W-weekly or M-monthly"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "skip"
        in: "query"
        description: "skip (Min 0)"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      - name: "toDate"
        in: "query"
        description: "toDate for balance retrieval (YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "top"
        in: "query"
        description: "top (Max 500)"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/AccountHistoricalBalancesResponse"
        400:
          description: "Y800 : Invalid value for accountId<br>Y800 : Invalid value for fromDate<br>Y800 : Invalid value for toDate<br>Y809 : Invalid date range<br>Y800 : Invalid value for interval<br>Y802 : Future date not allowed"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user/register:
    post:
      tags:
      - "User"
      summary: "Register User"
      description: "The register user service is used to register a user in Yodlee.<br>The loginName cannot include spaces and must be between 3 and 150 characters.<br>locale passed must be one of the supported locales for the customer. <br>Currency provided in the input will be respected in the derived services and the amount fields in the response will be provided in the preferred currency.<br>userParam is accepted as a body parameter. <br><br><b>Note:</b> <li>The content type has to be passed as application/json for the body parameter.</li> <li>We recommend you to not use special characters in loginName other than \"@\", \"#\", \"_\" & \"-\"</li>."
      operationId: "registerUser"
      requestBody:
        description: "userRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRequest"
        required: true
      responses:
        200:
          description: "Login Successful"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UserResponse"
        400:
          description: "Y800 : Invalid value for loginName<br>Y800 : Invalid value for email<br>Y801 : Invalid length for loginName<br>Y800 : Invalid value for phoneNumber<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /holdings/securities:
    get:
      tags:
      - "Holdings"
      summary: "Get Security Details"
      description: "The get security details service is used to get all the security information for the holdings<br>"
      operationId: "getSecurities"
      parameters:
      - name: "holdingId"
        in: "query"
        description: "Comma separated holdingId"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/HoldingSecuritiesResponse"
        400:
          description: "Y800 : Invalid value for holdingId<br>Y824 : The maximum number of holdingIds permitted is 100"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /configs/notifications/events/{eventName}:
    put:
      tags:
      - "Configs"
      summary: "Update Notification Subscription"
      description: "The update events service is used to update the callback URL.<br>If the callback URL is invalid or inaccessible, the subscription will be unsuccessful, and an error will be thrown.<br><br><b>Note:</b> <li>The content type has to be passed as application/json for the body parameter. <br>"
      operationId: "updateSubscribedNotificationEvent"
      parameters:
      - name: "eventName"
        in: "path"
        description: "Name of the webhook subscription event"
        required: true
        schema:
          type: "string"
          enum:
          - "REFRESH"
          - "DATA_UPDATES"
          - "AUTO_REFRESH_UPDATES"
          - "LATEST_BALANCE_UPDATES"
          - "CREDIT_ACCELERATOR_REPORT_UPDATES"
      requestBody:
        description: "eventRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConfigsNotificationEventRequest"
        required: true
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y803 : eventName required<br>Y803 : callbackUrl required<br>Y800 : Invalid value for callbackUrl"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    post:
      tags:
      - "Configs"
      summary: "Subscribe For Notification Event"
[...]
