---
openapi: "3.0.1"
info:
  title: "Verification APIs"
  description: "This file describes the Yodlee Verification product APIs using the swagger notation. The verification product APIs lets you instantly validate accounts and ownership details for frictionless onboarding and payments setup.  You can generate the client SDK in Python, JavaScript, PHP, or any other languages according to your development needs. For more details about the APIs, refer to <a href=\"https://developer.yodlee.com/resources/yodlee/yodlee-api-overview/docs\">Yodlee API v1.1 - Overview</a>.<br><br>You will have to set the header before making the API call. The following headers apply to all the APIs:<ul><li>Authorization: This header holds the access token</li> <li> Api-Version: 1.1</li></ul><b>Note</b>: If there are any API-specific headers, they are mentioned explicitly in the respective API's description."
  termsOfService: "https://developer.yodlee.com/terms/condition"
  contact:
    email: "developer@yodlee.com"
  license:
    name: "Yodlee Developer License"
    url: "https://developer.yodlee.com/terms/condition#_Services_1"
  version: "1.1.0"
servers:
- url: "https://sandbox.api.yodlee.com/ysl"
tags:
- name: "Account Token"
  description: "Account verification customers looking to integrate with one of our payment partners can use the Account Token endpoints. These APIs allow creating a secure processor token for your user's verified financial accounts. You can then share the processor token with our payment partners to enable them to securely request the user's account details from Envestnet | Yodlee.<br><br>You will have to set the header before making the API call. The following headers apply to all the APIs:</p><ul><li>Authorization: This header holds the access token</li> <li> Api-Version: 1.1</li></ul><b>Note</b>: If there are any API-specific headers, they are mentioned explicitly in the respective API's description.<p></p>"
- name: "Accounts"
  description: "Accounts API"
- name: "Auth"
  description: "Auth API"
- name: "Configs"
  description: "Configs API"
- name: "ProviderAccounts"
  description: "Provider Accounts API"
- name: "Providers"
  description: "Providers API"
- name: "Transactions"
  description: "Transactions API"
- name: "User Documents"
  description: "User Documents API"
- name: "User"
  description: "Users API"
- name: "Verification"
  description: "Verification API"
- name: "Verify Account"
  description: "Verify Account API"
paths:
  /transactions:
    get:
      tags:
      - "Transactions"
      summary: "Get Transactions"
      description: "The Transaction service is used to get a list of transactions for a user.<br>By default, this service returns the last 30 days of transactions from today's date.<br>API will only return up to 2 years of transaction history. If the difference between fromDate and toDate is more than 2 years, API will return only last 2 years from the toDate.<br>The keyword parameter performs a contains search on the original, consumer, and simple description attributes, replace the special characters #, &, and + with percent-encoding values %23, %26, and %2B respectively. Eg: for -Debit# , pass the input as -Debit%23.<br>Values for categoryId parameter can be fetched from get transaction category list service.<br> The categoryId is used to filter transactions based on system-defined category as well as user-defined category.<br>User-defined categoryIds should be provided in the filter with the prefix ''U''. E.g. U10002<br>The skip and top parameters are used for pagination. In the skip and top parameters pass the number of records to be skipped and retrieved, respectively. The response header provides the links to retrieve the next and previous set of transactions.<br>Double quotes in the merchant name will be prefixed by backslashes (&#92;) in the response, e.g. Toys \"R\" Us. <br>sourceId is a unique ID that the provider site has assigned to the transaction. The source ID is only available for the pre-populated accounts. Pre-populated accounts are the accounts that the FI customers shares with Yodlee, so that the user does not have to add or aggregate those accounts.<br><br><b>Note</b><ul><li><a href=\"https://developer.yodlee.com/resources/yodlee/transaction-data-enrichment/docs/overview\">Transaction Data Enrichment</a> is made available for bank and card accounts. The address field in the response is available only when the Transaction Data Enrichment key is turned ON.</li><li>The pagination feature is available by default. If no values are passed in the skip and top parameters, the API will only return the first 500 transactions.</li><li>This service supports the localization feature and accepts locale as a header parameter.</li></ul>"
      operationId: "getTransactions"
      parameters:
      - name: "accountId"
        in: "query"
        description: "Comma separated accountIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "baseType"
        in: "query"
        description: "DEBIT/CREDIT"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "categoryId"
        in: "query"
        description: "Comma separated categoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "categoryType"
        in: "query"
        description: "Transaction Category Type(LOAN, UNCATEGORIZE, INCOME, TRANSFER, EXPENSE or DEFERRED_COMPENSATION)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "container"
        in: "query"
        description: "bank/creditCard/investment/insurance/loan"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "convertToCurrency"
        in: "query"
        description: "On-demand currency conversion parameter"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "detailCategoryId"
        in: "query"
        description: "Comma separated detailCategoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fromDate"
        in: "query"
        description: "Transaction from date(YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "highLevelCategoryId"
        in: "query"
        description: "Comma separated highLevelCategoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "keyword"
        in: "query"
        description: "Transaction search text"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "skip"
        in: "query"
        description: "skip (Min 0)"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      - name: "toDate"
        in: "query"
        description: "Transaction end date (YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "top"
        in: "query"
        description: "top (Max 500)"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      - name: "type"
        in: "query"
        description: "Transaction Type(SELL,SWEEP, etc.) for bank/creditCard/investment"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/TransactionResponse"
        400:
          description: "Y800 : Invalid value for baseType<br>Y800 : Invalid value for fromDate<br>Y800 : Invalid value for category<br>Y800 : Invalid value for toDate<br>Y800 : Invalid value for container<br>Y809 : Invalid date range<br>Y804 : Permitted values of top between 1 - 500<br>Y805 : Multiple containers not supported<br>Y800 : Invalid value for transaction type<br>Y824 : The maximum number of accountIds permitted is 100<br>Y824 : The maximum number of categoryIds permitted is 100<br>Y824 : The maximum number of highLevelCategoryIds permitted is 100<br>Y848 : detailCategoryId cannot be provided as input, as the detailedCategory feature is not enabled<br>Y823 : detailCategoryId is not for applicable containers other than bank and card<br>Y824 : The maximum number of detailCategoryIds permitted is 100<br>Y800 : Invalid value for detailCategoryId<br>Y800 : Invalid value for convertToCurrency<br>Y820 : The currency value is not supported for convertToCurrency<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /verification/verifiedAccounts:
    get:
      tags:
      - "Verification"
      summary: "Get Verified Accounts"
      description: "The Verified Accounts API v1.1 provides information about the bank and investment accounts that the user  has selected for verification, during the Account Verification flow on FastLink 4. By default, the API only returns information of the accounts that were selected and have been successfully verified. <br><br>"
      operationId: "getVerifiedAccounts"
      parameters:
      - name: "accountId"
        in: "query"
        description: "Comma separated accountIds."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "isSelected"
        in: "query"
        description: "Comma separated isSelected. Allowed values are true, false. <br>"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "providerAccountId"
        in: "query"
        description: "providerAccountId."
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "verificationStatus"
        in: "query"
        description: "Comma separated verificationStatus. Allowed values are SUCCESS, FAILED <br><b>Note:</b> If no value is passed, the implicit default value is SUCCESS."
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/VerifiedAccountResponse"
        400:
          description: "Y813 : providerAccountId should be provided<br>Y800 : Invalid value for providerAccountId<br>Y800 : Invalid value for verificationStatus<br>Y800 : Invalid value for isSelected<br>Y800 : Invalid value for accountId<br>Y807 : Resource not found<br>Y871 : The verification process for the request is still in progress. This API can only be invoked after the verification process is completed<br>Y824 : The maximum number of accountIds permitted is 10"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /paymentProcessor/token:
    post:
      tags:
      - "Account Token"
      summary: "Create Account Token"
      description: "The create account token service allows you to create a secure <code>processorToken</code> for a user's verified financial account. This <code>processorToken</code> can then be shared with one of our payment processor partners."
      operationId: "generatePaymentProcessorToken"
      requestBody:
        description: "account information"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PaymentProcessorTokenRequest"
        required: true
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/PaymentProcessorTokenResponse"
        400:
          description: "Y007 : Authorization header missing<br>Y008 : Invalid token in authorization header<br>Y833 : Invalid values(s) for accountId<br>Y800 : Invalid value for processor<br>Y813 : accountId should be provided<br>Y813 : processor should be provided"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "Account Token"
      summary: "Delete Account Token"
      description: "The delete account token service allows you to revoke a previously generated <code>processorToken</code>. It is recommended to use this service when you want to disallow further access to the user's financial account, for instance when a user removes their account from your application."
      operationId: "revokePaymentProcessorToken"
      parameters:
      - name: "processorToken"
        in: "header"
        description: "The token that you want to delete."
        required: true
        schema:
          type: "string"
      responses:
        204:
          description: "No Content"
          content: {}
        400:
          description: "Y007 : Authorization header missing<br>Y008 : Invalid token in authorization header<br>Y016 : processorToken header missing"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /auth/apiKey/{key}:
    delete:
      tags:
      - "Auth"
      summary: "Delete API Key"
      description: "This endpoint allows an existing API key to be deleted.<br>You can use one of the following authorization methods to access this API:<br><ol><li>cobsession</li><li>JWT token</li></ol> <b>Notes:</b> <li>This service is not available in developer sandbox environment and will be made availablefor testing in your dedicated environment. "
      operationId: "deleteApiKey"
      parameters:
      - name: "key"
        in: "path"
        description: "key"
        required: true
        schema:
          type: "string"
      responses:
        201:
          description: "OK"
          content: {}
        204:
          description: "No Content"
          content: {}
        400:
          description: "Y807 : Resource not found<br>Y806 : Invalid input"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providerAccounts:
    get:
      tags:
      - "ProviderAccounts"
      summary: "Get Provider Accounts"
      description: "The get provider accounts service is used to return all the provider accounts added by the user. <br>This includes the failed and successfully added provider accounts.<br>"
      operationId: "getAllProviderAccounts"
      parameters:
      - name: "include"
        in: "query"
        description: "include"
        schema:
          type: "string"
      - name: "providerIds"
        in: "query"
        description: "Comma separated providerIds."
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ProviderAccountResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    put:
      tags:
      - "ProviderAccounts"
      summary: "Update Account"
      description: "<i>This API Reference guide is intended for FastLink 4 Users.  For FastLink 3 Users, there are additional integration notes related to this endpoint <a href=\"https://developer.yodlee.com/resources/yodlee/fastlink-3/docs/api-integrations\">here</a>.</i><br><br>The update account API is used to:<br> <ul><li>Retrieve the latest information of all the eligible accounts that belong to the user.<li>Check the status of the providerAccount before invoking this API. Do not call this API to trigger any action on a providerAccount when an action is already in progress for the providerAccount.<li>If the customer has subscribed to the REFRESH event notification and invoked this API, relevant notifications will be sent to the customer.<li>Check all the dataset additional statuses returned in the response because the provider account status is drawn from the dataset additional statuses.<li>Updating preferences using this API will trigger refreshes.<li> The content type has to be passed as application/json for the body parameter.</ul><br>-----------------------------------------------------------------------------------------------------------------------------------------<br><br><b>Update All Eligible Accounts - Notes:</b><br><ul><li>This API will trigger a refresh for all the eligible provider accounts(both OB and credential-based accounts).<li>This API will not refresh closed, inactive, or UAR accounts, or accounts with refreshes in-progress or recently refreshed non-OB accounts.<li>No parameters should be passed to this API to trigger this action.<li>Do not call this API often. Our recommendation is to call this only at the time the user logs in to your app because it can hamper other API calls performance.<li>The response only contains information for accounts that were refreshed. If no accounts are eligible for refresh, no response is returned.</ul>"
      operationId: "editCredentialsOrRefreshProviderAccount"
      parameters:
      - name: "providerAccountIds"
        in: "query"
        description: "comma separated providerAccountIds"
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      requestBody:
        description: "loginForm or field entity"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProviderAccountRequest"
        required: false
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UpdatedProviderAccountResponse"
        400:
          description: "Y805 : Multiple providerAccountId not supported for updating credentials<br>Y800 : Invalid value for credentialsParam<br>Y400 : id and value in credentialsParam are mandatory<br>Y806 : Invalid input<br>Y823 : Credentials are not applicable for real estate aggregated / manual accounts<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /transactions/count:
    get:
      tags:
      - "Transactions"
      summary: "Get Transactions Count"
      description: "The count service provides the total number of transactions for a specific user depending on the input parameters passed.<br>If you are implementing pagination for transactions, call this endpoint before calling GET /transactions to know the number of transactions that are returned for the input parameters passed.<br>The functionality of the input parameters remains the same as that of the GET /transactions endpoint.<br>If the difference between fromDate and toDate is more than 2 years, API will return the count of last 2 years from the toDate.<br>"
      operationId: "getTransactionsCount"
      parameters:
      - name: "accountId"
        in: "query"
        description: "Comma separated accountIds\t"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "baseType"
        in: "query"
        description: "DEBIT/CREDIT"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "categoryId"
        in: "query"
        description: "Comma separated categoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "categoryType"
        in: "query"
        description: "Transaction Category Type(LOAN, UNCATEGORIZE, INCOME, TRANSFER, EXPENSE or DEFERRED_COMPENSATION)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "container"
        in: "query"
        description: "bank/creditCard/investment/insurance/loan"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "detailCategoryId"
        in: "query"
        description: "Comma separated detailCategoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fromDate"
        in: "query"
        description: "Transaction from date(YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "highLevelCategoryId"
        in: "query"
        description: "Comma separated highLevelCategoryIds"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "keyword"
        in: "query"
        description: "Transaction search text\t"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "toDate"
        in: "query"
        description: "Transaction end date (YYYY-MM-DD)"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "type"
        in: "query"
        description: "Transaction Type(SELL,SWEEP, etc.)"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/TransactionCountResponse"
        400:
          description: "Y800 : Invalid value for detailCategoryId<br>Y848 : detailCategoryId cannot be provided as input, as the detailedCategory feature is not enabled<br>Y823 : detailCategoryId is not applicable for containers other than bank and card<br>Y824 : The maximum number of detailCategoryIds permitted is 100<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /documents/search:
    post:
      tags:
      - "User Documents"
      summary: "Get User Documents"
      description: "The Get User Documents service will allow customers to search or retrieve metadata related to PDF documents uploaded by user through the FastLink 4 flow."
      operationId: "getuserdocuments"
      requestBody:
        description: "getDocumentsRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GetDocumentsRequest"
        required: false
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/GetDocumentsResponse"
        400:
          description: "Y800 : Invalid value for ids<br>Y800 : Invalid value for accountIds<br>Y800 : Invalid value for ids or accountIds<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providers:
    get:
      tags:
      - "Providers"
      summary: "Get Providers"
      description: "<i>This API Reference guide is intended for FastLink 4 Users.  For FastLink 3 Users, there are additional integration notes related to this endpoint <a href=\"https://developer.yodlee.com/resources/yodlee/fastlink-3/docs/api-integrations\">here</a>.</i><br><br>The get provider service is used to get all the providers that are enabled, search a provider service by name or routing number and get popular sites of a region.<br><br>Searching for a provider using a routing number is applicable only to the USA and Canada regions.<br> The valid values for priority are: <br><ol><li> cobrand: Returns providers enabled for the cobrand (Default priority)</li><li>popular: Returns providers popular among users of the customer.</li></ol><br>The skip and top parameters are used for pagination. In the skip and top parameters, pass the number of records to be skipped and retrieved, respectively.The response header provides the links to retrieve the next and previous set of transactions.<br><br> Providers accept the configName as the input to the API and return the providers list based on the configurations of each configName.  For verification, the providers will accept the configName with which has the verification product and the attributes that are chosen in the configName which returns the list of providers that match the criteria.  ***For an example,  /ysl/providers?configName=aggregationAndVerification*** <br><br>Note:</b> <ol><li>In a product flow involving user interaction, Yodlee recommends invoking this service with filters.<li>Without filters, the service may perform slowly as it takes a few minutes to return data in the response.<li>The AuthParameter appears in the response only in case of token-based aggregation sites.<li>The pagination feature only applies when the priority parameter is set as cobrand. If no values are provided in the skip and top parameters, the API will only return the first 500 records.<li>This service supports the localization feature and accepts locale as a header parameter.<li>The capability has been deprecated in query parameter and response. </li></ol>"
      operationId: "getAllProviders"
      parameters:
      - name: "capability"
        in: "query"
        description: "CHALLENGE_DEPOSIT_VERIFICATION - capability search is deprecated"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "dataset$filter"
        in: "query"
        description: "Expression to filter the providers by dataset(s) or dataset attribute(s). The default value will be the dataset or dataset attributes configured as default for the customer."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fullAccountNumberFields"
        in: "query"
        description: "Specify to filter the providers with values paymentAccountNumber,unmaskedAccountNumber."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "institutionId"
        in: "query"
        description: "Institution Id for Single site selection"
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int64"
      - name: "name"
        in: "query"
        description: "Name in minimum 1 character or routing number."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "priority"
        in: "query"
        description: "Search priority"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "providerId"
        in: "query"
        description: "Max 5 Comma seperated Provider Ids"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "skip"
        in: "query"
        description: "skip (Min 0) - This is not applicable along with 'name' parameter."
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      - name: "top"
        in: "query"
        description: "top (Max 500) - This is not applicable along with 'name' parameter."
        allowEmptyValue: false
        schema:
          type: "integer"
          format: "int32"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ProviderResponse"
        400:
          description: "Y800 : Invalid value for priority<br>Y800 : Invalid value for providerName<br>Y801 : Invalid length for a site search. The search string must have atleast 1 character<br>Y800 : Invalid value for skip<br>Y804 : Permitted values of top between 1 - 500<br>Y821 : Dataset not supported<br>Y820 : The additionalDataSet is not supported for Get provider API"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providers/{providerId}:
    get:
      tags:
      - "Providers"
      summary: "Get Provider Details"
      description: "The get provider detail service is used to get detailed information including the login form for a provider.<br>The response is a provider object that includes information such as name of the provider, <br>provider's base URL, a list of containers supported by the provider, the login form details of the provider, etc.<br>Only enabled datasets, attributes and containers gets returned in the response.<br><br><b>Note:</b><li>This service supports the localization feature and accepts locale as a header parameter.<li>The capability has been deprecated in the response."
      operationId: "getProvider"
      parameters:
      - name: "providerId"
        in: "path"
        description: "providerId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ProviderDetailResponse"
        400:
          description: "Y800 : Invalid value for providerId"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /documents:
    delete:
      tags:
      - "User Documents"
      summary: "Delete User Documents"
      description: "The Delete User Documents service allows the consumer to delete the PDF documents uploaded by user through FastLink 4 flow.<br>The deleted documents will not be returned in the Get User Documents API.<br>The HTTP response code is 204 (success without content)."
      operationId: "deleteuserdocuments"
      requestBody:
        description: "deleteDocumentsRequest"
        content:
          '*/*':
            schema:
              $ref: "#/components/schemas/DeleteDocumentsRequest"
        required: true
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y800 : Invalid value for documentId<br>Y904 : Internal exception<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /accounts/{accountId}:
    get:
      tags:
      - "Accounts"
      summary: "Get Account Details"
      description: "The get account details service provides detailed information of an account.<br><br><b>Note:</b><li> fullAccountNumber is deprecated and is replaced with fullAccountNumberList in include parameter and response.</li>"
      operationId: "getAccount"
      parameters:
      - name: "accountId"
        in: "path"
        description: "accountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      - name: "convertToCurrency"
        in: "query"
        description: "On-demand currency conversion parameter"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "include"
        in: "query"
        description: "profile, holder, fullAccountNumber, fullAccountNumberList, paymentProfile, autoRefresh<br><b>Note:</b>fullAccountNumber is deprecated and is replaced with fullAccountNumberList in include parameter and response."
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "Accounts"
      summary: "Delete Account"
      description: "The delete account service allows an account to be deleted.<br>This service does not return a response. The HTTP response code is 204 (Success with no content).<br>"
      operationId: "deleteAccount"
      parameters:
      - name: "accountId"
        in: "path"
        description: "accountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y800 : Invalid value for accountId<br>Y806 : Invalid input<br>Y807 : Resource not found<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /configs/notifications/events:
    get:
      tags:
      - "Configs"
      summary: "Get Subscribed Notification Events"
      description: "The get events service provides the list of events for which consumers subscribed to receive notifications. <br>"
      operationId: "getSubscribedNotificationEvents"
      parameters:
      - name: "eventName"
        in: "query"
        description: "Name of the webhook subscription event"
        allowEmptyValue: false
        schema:
          type: "string"
          enum:
          - "REFRESH"
          - "DATA_UPDATES"
          - "AUTO_REFRESH_UPDATES"
          - "LATEST_BALANCE_UPDATES"
          - "CREDIT_ACCELERATOR_REPORT_UPDATES"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ConfigsNotificationResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providers/count:
    get:
      tags:
      - "Providers"
      summary: "Get Providers Count"
      description: "<i>This API Reference guide is intended for FastLink 4 Users.  For FastLink 3 Users, there are additional integration notes related to this endpoint <a href=\"https://developer.yodlee.com/resources/yodlee/fastlink-3/docs/api-integrations\">here</a>.</i><br><br>The count service provides the total number of providers that get returned in the GET /providers depending on the input parameters passed.<br>If you are implementing pagination for providers, call this endpoint before calling GET /providers to know the number of providers that are returned for the input parameters passed.<br>The functionality of the input parameters remains the same as that of the GET /providers endpoint<br><br><b>Note:</b> <li>The capability has been deprecated in the query parameter.</li>"
      operationId: "getProvidersCount"
      parameters:
      - name: "capability"
        in: "query"
        description: "CHALLENGE_DEPOSIT_VERIFICATION - capability search is deprecated"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "dataset$filter"
        in: "query"
        description: "Expression to filter the providers by dataset(s) or dataset attribute(s). The default value will be the dataset or dataset attributes configured as default for the customer."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "fullAccountNumberFields"
        in: "query"
        description: "Specify to filter the providers with values paymentAccountNumber,unmaskedAccountNumber."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "name"
        in: "query"
        description: "Name in minimum 1 character or routing number."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "priority"
        in: "query"
        description: "Search priority"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ProvidersCountResponse"
        400:
          description: "Y800 : Invalid value for priority<br>Y800 : Invalid value for providerName<br>Y801 : Invalid length for a site search. The search string must have at least 1 character<br>Y800 : Invalid value for skip<br>Y804 : Permitted values of top between 1 - 500<br>Y821 : Dataset not supported<br>Y820 : The additionalDataSet is not supported for Get provider API"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user/samlLogin:
    post:
      tags:
      - "User"
      summary: "Saml Login"
      description: "The SAML login service is used to authenticate system users with a SAML response.<br>A new user will be created with the input provided if that user isn't already in the system.<br>For existing users, the system will make updates based on changes or new information.<br>When authentication is successful, a user session token is returned.<br><br><b>Note:</b> <li>The content type has to be passed as application/x-www-form-urlencoded. <li>issuer, source and samlResponse should be passed as body parameters.</li>"
      operationId: "samlLogin"
      parameters:
      - name: "issuer"
        in: "query"
        description: "issuer"
        required: true
        schema:
          type: "string"
      - name: "samlResponse"
        in: "query"
        description: "samlResponse"
        required: true
        schema:
          type: "string"
      - name: "source"
        in: "query"
        description: "source"
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UserResponse"
        400:
          description: "Y013 : Invalid value for samlResponse<br>Y013 : Invalid value for issuer"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /verification/holderProfile:
    get:
      tags:
      - "Verification"
      summary: "Get Holder Profile"
      description: "The Holder Profile API service allows retrieving the user's profile details (i.e., PII data such as name, email, phone number, and address) that are available at the provider account and each account level. The API accepts the providerAccountId and retrieves the profile information available under it and all the details available under each of the associated accounts.  <br><br>This service can only be invoked by Yodlee API v1.1, FastLink 3, and FastLink 4 customers. <br><br>"
      operationId: "getHolderProfile"
      parameters:
      - name: "accountId"
        in: "query"
        description: "accountId"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "providerAccountId"
        in: "query"
        description: "providerAccountId."
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/HolderProfileResponse"
        400:
          description: "Y901 : Service not supported<br>Y800 : Invalid value for providerAccountId<br>Y800 : Invalid value for accountId. Only ACTIVE accountIds are supported<br>Y800 : Invalid value for accountId. All accountIds should belong to the same providerAccountId<br>Y803 : providerAccountId required<br>Y805 : Multiple providerAccountId not supported<br>Y820 : The accountId is not supported for containers other than bank and investment<br>can only be invoked after the verification process is completed<br>Y824 : The maximum number of accountIds permitted is 10<br>Y878 : Profile data is not yet requested for this account"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user/register:
    post:
      tags:
      - "User"
      summary: "Register User"
      description: "The register user service is used to register a user in Yodlee.<br>The loginName cannot include spaces and must be between 3 and 150 characters.<br>locale passed must be one of the supported locales for the customer. <br>Currency provided in the input will be respected in the derived services and the amount fields in the response will be provided in the preferred currency.<br>userParam is accepted as a body parameter. <br><br><b>Note:</b> <li>The content type has to be passed as application/json for the body parameter.</li> <li>We recommend you to not use special characters in loginName other than \"@\", \"#\", \"_\" & \"-\"</li>."
      operationId: "registerUser"
      requestBody:
        description: "userRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UserRequest"
        required: true
      responses:
        200:
          description: "Login Successful"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UserResponse"
        400:
          description: "Y800 : Invalid value for loginName<br>Y800 : Invalid value for email<br>Y801 : Invalid length for loginName<br>Y800 : Invalid value for phoneNumber<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /verification:
    get:
      tags:
      - "Verification"
      summary: "Get Verification Status"
      description: "<i>This API Reference guide is intended for FastLink 4 Users.  For FastLink 3 Users, there are additional integration notes related to this endpoint <a href=\"https://developer.yodlee.com/resources/yodlee/fastlink-3/docs/api-integrations\">here</a>.</i><br><br> The get verification status service is used to retrieve the verification status of all accounts for which the CDV process has been initiated.For the CDV process, the account details object returns the user provided account information."
      operationId: "getVerificationStatus"
      parameters:
      - name: "accountId"
        in: "query"
        description: "Comma separated accountId"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "providerAccountId"
        in: "query"
        description: "Comma separated providerAccountId"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "verificationType"
        in: "query"
        description: "verificationType"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/VerificationStatusResponse"
        400:
          description: "Y901 : Service not supported<br>Y813 : Either of accountId or providerAccountId should be provided<br>Y800 : Invalid value for accountId<br>Y800 : Invalid value for verification.verificationType<br>Y800 : Invalid value for providerAccountId<br>Y835 : Account(s) not eligible for Matching verification<br>Y836 : No verification initiated"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    put:
      tags:
      - "Verification"
      summary: "Verify Challenge Deposit"
      description: "The put verification service is used to complete the challenge deposit verification (CDV) process.<br>This service is used only by the customer of CDV flow.<br>In the CDV process, the user-provided microtransaction details (i.e., credit and debit) is matched against the microtransactions posted by Yodlee. For a successful verification of the account's ownership both the microtransaction details should match.<br>The CDV process is currently supported only in the United States.<br><br><b>Notes:</b><ul><li>This endpoint cannot be used to test the CDV functionality in the developer sandbox or test environment. You will need a money transmitter license to implement the CDV functionality and also require the Yodlee Professional Services team's assistance to set up a dedicated environment.</li></ul>"
      operationId: "verifyChallengeDeposit"
      requestBody:
        description: "verification information"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateVerificationRequest"
        required: true
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/VerificationResponse"
        400:
          description: "Y901 : Service not supported<br>Y812 : Required field/value - verification.verificationType missing in the verificationParam<br>Y812 : Required field/value - amount.amount missing in the verificationParam<br>Y812 : Required field/value - baseType missing in the verificationParam<br>Y812 : Required field/value - currency missing in the verificationParam<br>Y812 : Required field/value - providerAccountId missing in the verificationParam<br>Y812 : Required field/value - accountId missing in the verificationParam<br>Y800 : Invalid value for verificationParam<br>Y800 : Invalid value for verification.verificationType<br>Y800 : Invalid value for baseType<br>Y800 : Invalid value for providerAccountId<br>Y800 : Invalid value for accountId<br>Y813 : Transaction should be provided<br>Y801 : Invalid length for accountNumber<br>Y801 : Invalid length for amount<br>Y835 : Account(s) not eligible for Challenge Deposit verification<br>Y806 : Invalid Input<br>Y840 : Verification has been initiated already<br>Y837 : Account has been verified already<br>Y838 : The currency code provided does not match with the currency of the transaction executed on the target account<br>Y846 : The number of financial transactions made on the target account does not match with the number of transactions entered by the user.<br>Y842 : Number of retries exceeded the maximum Challenge Deposit verification limit<br>Y844 : Financial Instructions were not executed successfully on the target account<br>Y845 : Verification time expired. Please try initiating challenge deposit again<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>Y813 : Either transactionReferenceText or transaction should be provided<br>Y800 : Invalid value for transactionReferenceText<br>Y801 : Invalid length for transactionReferenceText<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    post:
      tags:
      - "Verification"
      summary: "Initiaite Challenge Deposit"
      description: "<i>This API Reference guide is intended for FastLink 4 Users.  For FastLink 3 Users, there are additional integration notes related to this endpoint <a href=\"https://developer.yodlee.com/resources/yodlee/fastlink-3/docs/api-integrations\">here</a>.</i><br><br> The post verification service is used to initiate the challenge deposit account verification (CDV) process to verify account ownership.The CDV process can verify ownership of only bank accounts (i.e., checking and savings).Once the CDV process is initiated, Yodlee will post the micro-transaction (i.e., credit and debit) in the user's account. The CDV process takes 2 to 3 days to complete as it requires the user to provide the microtransaction details.<br><br>The CDV process is currently supported only in the United States."
      operationId: "initiateMatchingOrChallengeDepositeVerification"
      requestBody:
        description: "verification information"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerificationRequest"
        required: true
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/VerificationResponse"
        400:
          description: "Y901 : Service not supported<br>Y812 : Required field/value - verification.verificationType missing in the verificationParam<br>Y812 : Required field/value - accountNumber missing in the verificationParam<br>Y812 : Required field/value - accountType missing in the verificationParam<br>Y812 : Required field/value - bankTransferCode missing in the verificationParam<br>Y812 : Required field/value - bankTransferCode.id missing in the verificationParam<br>Y812 : Required field/value - bankTransferCode.type missing in the verificationParam<br>Y800 : Invalid value for verification.verificationType<br>Y800 : Invalid value for verificationParam<br>Y800 : Invalid value for bankTransferCode.type<br>Y800 : Invalid value for bankTransferCode.id<br>Y800 : Invalid value for accountType<br>Y800 : Invalid value for accountId<br>Y813 : Account details should be provided<br>Y801 : Invalid length for accountNumber<br>Y835 : Account(s) not eligible for Challenge Deposit verification<br>Y806 : Invalid Input<br>Y840 : Verification has been initiated already<br>Y837 : Account has been verified already<br>Y800 : Invalid value for userClassification"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /configs/notifications/events/{eventName}:
    put:
      tags:
      - "Configs"
      summary: "Update Notification Subscription"
      description: "The update events service is used to update the callback URL.<br>If the callback URL is invalid or inaccessible, the subscription will be unsuccessful, and an error will be thrown.<br><br><b>Note:</b> <li>The content type has to be passed as application/json for the body parameter. <br>"
      operationId: "updateSubscribedNotificationEvent"
      parameters:
      - name: "eventName"
        in: "path"
        description: "Name of the webhook subscription event"
        required: true
        schema:
          type: "string"
          enum:
          - "REFRESH"
          - "DATA_UPDATES"
          - "AUTO_REFRESH_UPDATES"
          - "LATEST_BALANCE_UPDATES"
          - "CREDIT_ACCELERATOR_REPORT_UPDATES"
      requestBody:
        description: "eventRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConfigsNotificationEventRequest"
        required: true
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y803 : eventName required<br>Y803 : callbackUrl required<br>Y800 : Invalid value for callbackUrl"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    post:
      tags:
      - "Configs"
      summary: "Subscribe For Notification Event"
      description: "The subscribe events service is used to subscribe to an event for receiving notifications.<br>The callback URL, where the notification will be posted should be provided to this service.<br>If the callback URL is invalid or inaccessible, the subscription will be unsuccessful, and an error will be thrown.<br>Customers can subscribe to REFRESH,DATA_UPDATES,AUTO_REFRESH_UPDATES,LATEST_BALANCE_UPDATES and CREDIT_ACCELERATOR_REPORT_UPDATES event.<br><br><b>Notes:</b><li>This service is not available in developer sandbox/test environment and will be made available for testing in your dedicated environment, once the contract is signed.<li>The content type has to be passed as application/json for the body parameter.</li>"
      operationId: "createSubscriptionNotificationEvent"
      parameters:
      - name: "eventName"
        in: "path"
        description: "Name of the webhook subscription event"
        required: true
        schema:
          type: "string"
          enum:
          - "REFRESH"
          - "DATA_UPDATES"
          - "AUTO_REFRESH_UPDATES"
          - "LATEST_BALANCE_UPDATES"
          - "CREDIT_ACCELERATOR_REPORT_UPDATES"
      requestBody:
        description: "eventRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateConfigsNotificationEventRequest"
        required: true
      responses:
        201:
          description: "OK"
          content: {}
        400:
          description: "Y803 : eventName required<br>Y803 : callbackUrl required<br>Y800 : Invalid value for callbackUrl<br>Y901 : Service not supported<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "Configs"
      summary: "Delete Notification Subscription"
      description: "The delete events service is used to unsubscribe from an events service.<br>"
      operationId: "deleteSubscribedNotificationEvent"
      parameters:
      - name: "eventName"
        in: "path"
        description: "Name of the webhook subscription event"
        required: true
        schema:
          type: "string"
          enum:
          - "REFRESH"
          - "DATA_UPDATES"
          - "AUTO_REFRESH_UPDATES"
          - "LATEST_BALANCE_UPDATES"
          - "CREDIT_ACCELERATOR_REPORT_UPDATES"
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y803 : eventName required"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /auth/apiKey:
    get:
      tags:
      - "Auth"
      summary: "Get API Keys"
      description: "This endpoint provides the list of API keys that exist for a customer.<br>You can use one of the following authorization methods to access this API:<br><ol><li>cobsession</li><li>JWT token</li></ol><b>Notes:</b><li>This service is not available in developer sandbox environment and will be made available for testing in your dedicated environment. "
      operationId: "getApiKeys"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ApiKeyResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    post:
      tags:
      - "Auth"
      summary: "Generate API Key"
      description: "This endpoint is used to generate an API key. The RSA public key you provide should be in 2048 bit PKCS#8 encoded format. <br>A public key is a mandatory input for generating the API key.<br/>The public key should be a unique key. The apiKeyId you get in the response is what you should use to generate the JWT token.<br> You can use one of the following authorization methods to access<br/>this API:<br><ol><li>cobsession</li><li>JWT token</li></ol> Alternatively, you can use base 64 encoded cobrandLogin and cobrandPassword in the Authorization header (Format: Authorization: Basic <encoded value of cobrandLogin: cobrandPassword>)<br><br><b>Note:</b><br><li>This service is not available in developer sandbox environment and will be made available for testing in your dedicated environment. The content type has to be passed as application/json for the body parameter.</li>"
      operationId: "generateApiKey"
      requestBody:
        description: "apiKeyRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApiKeyRequest"
        required: true
      responses:
        201:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ApiKeyResponse"
        400:
          description: "Y800 : Invalid value for RS512 publicKey<br>Y806 : Invalid input<br>Y824 : The maximum number of apiKey permitted is 5<br>Y811 : publicKey value already exists"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user/accessTokens:
    get:
      tags:
      - "User"
      summary: "Get Access Tokens"
      description: "The Get Access Tokens service is used to retrieve the access tokens for the application id(s) provided.<br>URL in the response can be used to launch the application for which token is requested.<br><br><b>Note:</b> <li>This endpoint is deprecated for customers using the API Key-based authentication and is applicable only to customers who use the SAML-based authentication.<br>"
      operationId: "getAccessTokens"
      parameters:
      - name: "appIds"
        in: "query"
        description: "appIds"
        required: true
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UserAccessTokensResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providerAccounts/{providerAccountId}/preferences:
    put:
      tags:
      - "ProviderAccounts"
      summary: "Update Preferences"
      description: "This endpoint is used to update preferences like data extracts and auto refreshes without triggering refresh for the providerAccount.<br>Setting isDataExtractsEnabled to false will not trigger data extracts notification and dataExtracts/events will not reflect any data change that is happening for the providerAccount.<br>Modified data will not be provided in the dataExtracts/userData endpoint.<br>Setting isAutoRefreshEnabled to false will not trigger auto refreshes for the provider account.<br>"
      operationId: "updatePreferences"
      parameters:
      - name: "providerAccountId"
        in: "path"
        description: "providerAccountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      requestBody:
        description: "preferences"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ProviderAccountPreferencesRequest"
        required: true
      responses:
        204:
          description: "OK"
          content: {}
        400:
          description: "Y800 : Invalid value for preferences<br>Y800 : Invalid value for preferences.isDataExtractsEnabled<br>Y800 : Invalid value for preferences.isAutoRefreshEnabled<br>Y807 : Resource not found<br>Y830 : Data extracts feature has to be enabled to set preferences.isDataExtractsEnabled as true<br>Y830 : Auto refresh feature has to be enabled to set preferences.isAutoRefreshEnabled as true<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /auth/token:
    post:
      tags:
      - "Auth"
      summary: "Generate Access Token"
      description: "<b>Generate Access Token using client credential authentication.</b><br>This service returns access tokens required to access Yodlee 1.1 APIs. These tokens are the simplest and easiest of several alternatives for authenticating with Yodlee servers.<br>The most commonly used services obtain data specific to an end user (your customer). For these services, you need a <b>user access token</b>. These are simply tokens created with the user name parameter (<b>loginName</b>) set to the id of your end user.  <i><br><br><b>Note:</b> You determine this id and you must ensure it's unique among all your customers.</i> <br><br>Each token issued has an associated user. The token passed in the http headers explicitly names the user referenced in that API call.<br><br>Some of the APIs do administrative work, and don't reference an end user. <br/>One example of administrative work is key management. Another example is registering a new user explicitly, with <b>POST /user/register</b> call or subscribe to webhook, with <b>POST /config/notifications/events/{eventName}</b>. <br/>To invoke these, you need an <b>admin access token</b>. Create this by passing in your admin user login name in place of a regular user name.<br><br>This service also allows for simplified registration of new users. Any time you pass in a user name not already in use, the system will automatically implicitly create a new user for you. <br>This user will naturally have very few associated details. You can later provide additional user information by calling the <b>PUT user/register service</b>.<br><br><b>Notes:</b><ul><li>The header <code>Authorization</code> does not apply to this service.</li><li>The content type has to be passed as application/x-www-form-urlencoded.<li>Upgrading to client credential authentication requires infrastructure reconfiguration. <li>Customers wishing to switch from another authentication scheme to client credential authentication, please contact Yodlee Client Services.</li><li>Default expiry time of user access token and admin access token is 30 minutes.</li></ul>"
      operationId: "generateAccessToken"
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                clientId:
                  type: "string"
                  description: "clientId issued by Yodlee is used to generate the OAuth token for authentication."
                secret:
                  type: "string"
                  description: "secret issued by Yodlee is used to generate the OAuth token for authentication."
      responses:
        201:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ClientCredentialTokenResponse"
        400:
          description: "Y800 : Invalid value for loginName<br>Y806 : Invalid input<br>Y801 : Invalid length for loginName<br>Y303 : clientId or secret is missing<br>Y301 : Invalid clientId or secret<br>Y305 : Access token can be issued only for pre-registered users<br>Y004 : Inactive user<br>Y901 : Service not supported<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Y016 : loginName header missing<br>Y015 : Unauthorized User<br>Y016 : Api-Version header missing<br>Y020 : Invalid token in authorization header<br>Y027 : Unsupported authentication type"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "Auth"
      summary: "Delete Token"
      description: "This endpoint revokes the token passed in the Authorization header. This service is applicable for JWT-based (and all API key-based) authentication and also client credential (clientId and secret) based authentication. This service does not return a response body. The HTTP response code is 204 (success with no content). <br>Tokens generally have limited lifetime of up to 30 minutes. You will call this service when you finish working with one user, and you want to delete the valid token rather than simply letting it expire.<br><br><b>Note:</b> <li>Revoking an access token (either type, admin or a user token) can take up to 2 minutes, as the tokens are stored on a distributed system.<br/>"
      operationId: "deleteToken"
      responses:
        204:
          description: "No Content"
          content: {}
        401:
          description: "Y020 : Invalid token in authorization header<br>Y023 : Token has expired<br>Y016 : Api-Version header missing<br>Y015 : Unauthorized User<br>Y027 : Unsupported authentication type<br>Y007 : Authorization header missing<br>Y020 : Invalid token in authorization header"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user:
    get:
      tags:
      - "User"
      summary: "Get User Details"
      description: "The get user details service is used to get the user profile information and the application preferences set at the time of user registration.<br>"
      operationId: "getUser"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/UserDetailResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    put:
      tags:
      - "User"
      summary: "Update User Details"
      description: "The update user details service is used to update user details like name, address, currency preference, etc.<br>Currency provided in the input will be respected in the derived services and the amount fields in the response will be provided in the preferred currency.<br>The HTTP response code is 204 (Success without content). <br><br> <b>Login Name Change Feature:</b> loginName can be passed to update the user's login name. Once the loginName is updated, to access the user's data, a token with the changed loginName must be created. This feature is supported only Client Credentials authentication methods.<br><b>Note:</b> <li>We strongly recommend to immediately delete the old access token once the user's loginName is successfully changed to avoid misuse.</li> <li>After updating the login name, the already sent data extract events with the old login name will no more be functional. Replace the loginName with new loginName or try polling method to retrieve the data.</li><br>"
      operationId: "updateUser"
      requestBody:
        description: "userRequest"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUserRequest"
        required: true
      responses:
        204:
          description: "No Content"
          content: {}
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /providerAccounts/{providerAccountId}:
    get:
      tags:
      - "ProviderAccounts"
      summary: "Get Provider Account Details"
      description: "The get provider account details service is used to learn the status of adding accounts and updating accounts.<br>This service has to be called continuously to know the progress level of the triggered process. This service also provides the MFA information requested by the provider site.<br>When <i>include = credentials</i>, questions is passed as input, the service returns the credentials (non-password values) and questions stored in the Yodlee system for that provider account. <br><br><b>Note:</b> <li>The password and answer fields are not returned in the response.</li>"
      operationId: "getProviderAccount"
      parameters:
      - name: "include"
        in: "query"
        description: "include credentials,questions"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "providerAccountId"
        in: "path"
        description: "providerAccountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      - name: "requestId"
        in: "query"
        description: "The unique identifier for the request that returns contextual data"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/ProviderAccountDetailResponse"
        400:
          description: "Y800 : Invalid value for providerAccountId<br>Y816 : questions can only be requested for questionAndAnswer Supported Sites"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
    delete:
      tags:
      - "ProviderAccounts"
      summary: "Delete Provider Account"
      description: "The delete provider account service is used to delete a provider account from the Yodlee system. This service also deletes the accounts that are created in the Yodlee system for that provider account. <br>This service does not return a response. The HTTP response code is 204 (Success with no content).<br>"
      operationId: "deleteProviderAccount"
      parameters:
      - name: "providerAccountId"
        in: "path"
        description: "providerAccountId"
        required: true
        schema:
          type: "integer"
          format: "int64"
      responses:
        200:
          description: "OK"
          content: {}
        400:
          description: "Y800 : Invalid value for providerAccountId<br>Y868 : No action is allowed, as the data is being migrated to the Open Banking provider<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /transactions/categories:
    get:
      tags:
      - "Transactions"
      summary: "Get Transaction Category List"
      description: "The categories service returns the list of available transaction categories.<br>High level category is returned in the response only if it is opted by the customer.<br>When invoked by passing the cobrand session or admin access token, this service returns the supported transaction categories at the cobrand level. <br>When invoked by passing the cobrand session and the user session or user access token, this service returns the transaction categories <br>along with user-defined categories.<br>Double quotes in the user-defined category name will be prefixed by backslashes (&#92;) in the response, <br>e.g. Toys \"R\" Us.<br/>Source and id are the primary attributes of the category entity.<br><br><b>Note:</b><li>This service supports the localization feature and accepts locale as a header parameter.</li>"
      operationId: "getTransactionCategories"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/TransactionCategoryResponse"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /accounts:
    get:
      tags:
      - "Accounts"
      summary: "Get Accounts"
      description: "<i>This API Reference guide is intended for FastLink 4 Users.  For FastLink 3 Users, there are additional integration notes related to this endpoint <a href=\"https://developer.yodlee.com/resources/yodlee/fastlink-3/docs/api-integrations\">here</a>.</i><br><br>The get accounts service provides information about accounts added by the user.<br>By default, this service returns information for active and to be closed accounts.<br>If requestId is provided, the accounts that are updated in the context of the requestId will be provided in the response.<br><br> This API returns all the accounts that were chosen by the user in verification selection screen. In FastLink 4, we have separate APIs to provide the data for verification product-related data (/verification/verifiedAccounts).  <br> Pagination is made available to the advisors to retrieve account data of all users assigned to them. The skip and top parameters are used for pagination. In the skip and top parameters pass the number of records to be skipped and retrieved, respectively.<br>"
      operationId: "getAllAccounts"
      parameters:
      - name: "accountId"
        in: "query"
        description: "Comma separated accountIds."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "container"
        in: "query"
        description: "bank/creditCard/investment/insurance/loan/reward/realEstate/otherAssets/otherLiabilities"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "convertToCurrency"
        in: "query"
        description: "On-demand currency conversion parameter"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "include"
        in: "query"
        description: "profile, holder, fullAccountNumber, fullAccountNumberList, paymentProfile, autoRefresh<br><b>Note:</b><br><li>fullAccountNumber is deprecated and is replaced with fullAccountNumberList in include parameter and response.</li><br><li>profile is deprecated, and to retrieve the profile information, call the GET /verification/holderProfile API instead.</li>"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "providerAccountId"
        in: "query"
        description: "Comma separated providerAccountIds."
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "requestId"
        in: "query"
        description: "The unique identifier that returns contextual data"
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "status"
        in: "query"
        description: "ACTIVE,INACTIVE,TO_BE_CLOSED,CLOSED"
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/AccountResponse"
        400:
          description: "Y800 : Invalid value for status<br>Y800 : Invalid value for container<br>Y800 : Invalid value for providerAccountId<br>Y824 : The maximum number of accountIds permitted is 100"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /accounts/latestBalances:
    get:
      tags:
      - "Accounts"
      summary: "Get Latest Balances"
      description: "The latest balances service provides the latest account balance by initiating a new balance refresh request"
      operationId: "getLatestBalances"
      parameters:
      - name: "accountId"
        in: "query"
        description: "Comma separated accountIds."
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      - name: "providerAccountId"
        in: "query"
        description: "providerAccountId."
        required: true
        allowEmptyValue: false
        schema:
          type: "string"
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/AccountBalanceResponse"
        400:
          description: "Y800 : Invalid value for providerAccountId<br>Y800 : Invalid value for accountId <br>Y800 : Invalid value for accountId. Only ACTIVE accountId are supported <br>Y901 : Service not supported<br>Y803 : providerAccountId required <br>Y805 : Multiple providerAccountId not supported <br>Y803 : accountId required <br>Y820 : The accountId is not supported for container other than bank, investment<br>Y824 : The maximum number of accountIds permitted is 10<br>Y800 : Invalid value for accountId. All accountIds should belong to the same providerAccountId"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user/logout:
    post:
      tags:
      - "User"
      summary: "User Logout"
      description: "<b>Deprecated</b>: This endpoint is deprecated for API Key-based authentication. The user logout service allows the user to log out of the application.<br>The service does not return a response body. The HTTP response code is 204 (Success with no content).<br>"
      operationId: "userLogout"
      responses:
        204:
          description: "Logout successful"
          content: {}
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /user/unregister:
    delete:
      tags:
      - "User"
      summary: "Delete User"
      description: "The delete user service is used to delete or unregister a user from Yodlee. <br>Once deleted, the information related to the users cannot be retrieved. <br>The HTTP response code is 204 (Success without content)<br>"
      operationId: "unregister"
      responses:
        204:
          description: "No Content"
          content: {}
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
  /verifyAccount/{providerAccountId}:
    post:
      tags:
      - "Verify Account"
      summary: "Verify Accounts Using Transactions"
      description: "The verify account service is used to verify the account's ownership by  matching the transaction details with the accounts aggregated for the user.<br><ul><li>If a match is identified, the service returns details of all the accounts along with the matched transaction's details.<li>If no transaction match is found, an empty response will be returned.<li>A maximum of 5 transactionCriteria can be passed in a request.<li>The baseType, date, and amount parameters should mandatorily be passed.<li>The optional dateVariance parameter cannot be more than 7 days. For example, +7, -4, or +/-2.<li>Pass the container or accountId parameters for better performance.<li>This service supports the localization feature and accepts locale as a header parameter.</li></ul>"
      operationId: "initiateAccountVerification"
      parameters:
      - name: "providerAccountId"
        in: "path"
        description: "providerAccountId"
        required: true
        schema:
          type: "string"
      requestBody:
        description: "verificationParam"
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyAccountRequest"
        required: true
      responses:
        200:
          description: "OK"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/VerifyAccountResponse"
        400:
          description: "Y800 : Invalid value for container<br>Y800 : Invalid value for accountId<br>Y800 : Invalid value for amount<br>Y800 : Invalid value for dateVariance<br>Y801 : Invalid length for keyword<br>Y804 : Permitted values of dateVariance between 1 - 7<br>Y806 : Invalid input<br>Y807 : Resource not found<br>Y809 : Invalid date range<br>Y812 : Required field/value - transactionCriteria missing in the input<br>Y812 : Required field/value - amount missing in the transactionCriteria<br>Y812 : Required field/value - amount date in the transactionCriteria<br>Y812 : Required field/value - baseType missing in the transactionCriteria<br>Y823 : Transaction not applicable for container <br>Y824 : The maximum number of transactionCriteria permitted is 5<br>Y857 : Transactions are not refreshed in the past 24 hours<br>Y858 : Only active accounts can be verified<br>Y901 : Service not supported<br>"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: "#/components/schemas/YodleeError"
        401:
          description: "Unauthorized"
          content: {}
        404:
          description: "Not Found"
          content: {}
      deprecated: false
components:
  schemas:
    Account:
      title: "Account"
      type: "object"
      properties:
        availableCash:
          $ref: "#/components/schemas/Money"
        includeInNetWorth:
          type: "boolean"
          description: "Used to determine  whether an account to be considered in the networth calculation.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: bank,creditCard,loan,investment,insurance,realEstate,otherAssets,otherLiabilities<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        moneyMarketBalance:
          $ref: "#/components/schemas/Money"
        enrollmentDate:
          type: "string"
          description: "Date on which the user is enrolled on the rewards program.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: reward<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        estimatedDate:
          type: "string"
          description: "The date on which the home value was estimated.<br><br><b>Aggregated / Manual</b>: Manual<br><b>Applicable containers</b>: realEstate<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        memo:
          type: "string"
          description: "The additional description or notes given by the user.<br><br><b>Aggregated / Manual</b>: Both <br><b>Applicable containers</b>: All containers<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        guarantor:
          type: "string"
          description: "A nonprofit or state organization that works with lender, servicer, school, and the Department of Education to help successfully repay Federal Family Education Loan Program (FFELP) loans. If FFELP student loans default, the guarantor takes ownership of them.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: loan<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        interestPaidLastYear:
          $ref: "#/components/schemas/Money"
        lastUpdated:
          type: "string"
          description: "The date time the account information was last retrieved from the provider site and updated in the Yodlee system.<br><br><b>Aggregated / Manual</b>: Both <br><b>Applicable containers</b>: All containers<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        balance:
          $ref: "#/components/schemas/Money"
        nsccMemberClearingCode:
          type: "string"
          description: "Used in the mutual fund industry as a standard method of identifying funds, firms, and other intermediaries such as third-party administrators and recordkeepers.<br>This attribute will only populate when account is aggregated through ATV flow.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: Investment container<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        homeInsuranceType:
          type: "string"
          description: "Type of home insurance, like -<ul><li>HOME_OWNER</li><li>RENTAL</li><li>RENTER</li><li>etc..</li></ul><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: insurance<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul><b>Applicable Values</b><br>"
          readOnly: true
          enum:
          - "HOME_OWNER"
          - "RENTAL"
          - "RENTER"
          - "UNKNOWN"
          - "OTHER"
        id:
          type: "integer"
          description: "The primary key of the account resource and the unique identifier for the account.<br><br><b>Aggregated / Manual</b>: Both <br><b>Applicable containers</b>: All containers<br><b>Endpoints</b>:<ul><li>GET accounts </li><li>GET accounts/{accountId}</li><li>GET investmentOptions</li><li>GET accounts/historicalBalances</li><li>POST accounts</li><li>GET dataExtracts/userData</li></ul>"
          format: "int64"
          readOnly: true
        cash:
          $ref: "#/components/schemas/Money"
        totalCreditLine:
          $ref: "#/components/schemas/Money"
        providerName:
          type: "string"
          description: "Service provider or institution name where the account originates. This belongs to the provider resource.<br><br><b>Aggregated / Manual</b>: Both <br><b>Applicable containers</b>: All containers<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        valuationType:
          type: "string"
          description: "The valuation type indicates whether the home value is calculated either manually or by Yodlee Partners.<br><br><b>Aggregated / Manual</b>: Manual<br><b>Applicable containers</b>: realEstate<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul><b>Applicable Values</b><br>"
          readOnly: true
          enum:
          - "SYSTEM"
          - "MANUAL"
        marginBalance:
          $ref: "#/components/schemas/Money"
        apr:
          type: "number"
          description: "The annual percentage rate (APR) is the yearly rate of interest on the credit card account.<br><b>Additional Details:</b> The yearly percentage rate charged when a balance is held on a credit card. This rate of interest is applied every month on the outstanding credit card balance.<br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: creditCard<br><b>Endpoints</b>:<br><ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          format: "double"
          readOnly: true
        availableCredit:
          $ref: "#/components/schemas/Money"
        sourceProductName:
          type: "string"
          description: "sourceProductName: The account unique identifier belonging to which product name/provider account model name. (Example - Westpac Choice, CBA Smart Access.). This field will be primarily be available for AU Open Banking sites, and for other regions/providers, the population will depend on the availability of data.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: Bank,Card,Loan container<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        currentBalance:
          $ref: "#/components/schemas/Money"
        isManual:
          type: "boolean"
          description: "Indicates if an account is aggregated from a site or it is a manual account i.e. account information manually provided by the user.<br><b>Aggregated / Manual</b>: Both <br><b>Applicable containers</b>: All containers<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        profile:
          $ref: "#/components/schemas/AccountProfile"
        escrowBalance:
          $ref: "#/components/schemas/Money"
        nextLevel:
          type: "string"
          description: "The eligible next level of the rewards program.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: reward<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        classification:
          type: "string"
          description: "The classification of the account such as personal, corporate, etc.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: bank, creditCard, investment, reward, loan, insurance<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul><b>Applicable Values</b><br>"
          readOnly: true
          enum:
          - "OTHER"
          - "PERSONAL"
          - "CORPORATE"
          - "SMALL_BUSINESS"
          - "TRUST"
          - "ADD_ON_CARD"
          - "VIRTUAL_CARD"
        loanPayoffAmount:
          $ref: "#/components/schemas/Money"
        interestRateType:
          type: "string"
          description: "The type of the interest rate, for example, fixed or variable.<br><b>Applicable containers</b>: loan<br><b>Aggregated / Manual</b>: Aggregated<br><b>Endpoints</b>:<br><ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul><b>Applicable Values</b><br>"
          readOnly: true
          enum:
          - "FIXED"
          - "VARIABLE"
          - "UNKNOWN"
          - "OTHER"
        loanPayByDate:
          type: "string"
          description: "The date by which the payoff amount should be paid.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: loan<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        faceAmount:
          $ref: "#/components/schemas/Money"
        policyFromDate:
          type: "string"
          description: "The date the insurance policy began.<br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: insurance<br><b>Endpoints</b>:<br><ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        sourceLoanOffsetEnabled:
          type: "boolean"
          description: "Set to true if one or more offset accounts are configured for this loan account.This field will be primarily be available for AU Open Banking sites, and for other regions/providers, the population will depend on the availability of data.<br><br><b>Aggregated / Manual</b>: Aggregated <br><b>Applicable containers</b>: Loan container<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        dtccMemberClearingCode:
          type: "string"
          description: "Helps facilitate transactions between financial institutions.<br>This attribute will only populate when account is aggregated through ATV flow.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: Investment container<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        premiumPaymentTerm:
          type: "string"
          description: "The number of years for which premium payments have to be made in a policy.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: insurance<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        policyTerm:
          type: "string"
          description: "The duration for which the policy is valid or in effect. For example, one year, five years, etc.<br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: insurance<br><b>Endpoints</b>:<br><ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul>"
          readOnly: true
        repaymentPlanType:
          type: "string"
          description: "The type of repayment plan that the borrower prefers to repay the loan. <br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: loan<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul><b>Applicable Values:</b><br>"
          readOnly: true
          enum:
          - "STANDARD"
          - "GRADUATED"
          - "EXTENDED"
          - "INCOME_BASED"
          - "INCOME_CONTINGENT"
          - "INCOME_SENSITIVE"
          - "PAY_AS_YOU_EARN"
          - "REVISED_PAY_AS_YOU_EARN"
        aggregatedAccountType:
          type: "string"
          description: "The type of account that is aggregated."
          readOnly: true
        availableBalance:
          $ref: "#/components/schemas/Money"
        accountStatus:
          type: "string"
          description: "The status of the account that is updated by the consumer through an application or an API. Valid Values: AccountStatus<br><b>Additional Details:</b><br><b>ACTIVE:</b> All the added manual and aggregated accounts status will be made \"ACTIVE\" by default. <br><b>TO_BE_CLOSED:</b> If the aggregated accounts are not found or closed in the data provider site, Yodlee system marks the status as TO_BE_CLOSED<br><b>INACTIVE:</b> Users can update the status as INACTIVE to stop updating and to stop considering the account in other services<br><b>CLOSED:</b> Users can update the status as CLOSED, if the account is closed with the provider. <br><br><b>Aggregated / Manual</b>: Both <br><b>Applicable containers</b>: All containers<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul><b>Applicable Values</b><br>"
          readOnly: true
          enum:
          - "ACTIVE"
          - "INACTIVE"
          - "TO_BE_CLOSED"
          - "CLOSED"
          - "DELETED"
        lifeInsuranceType:
          type: "string"
          description: "Type of life insurance.<br><br><b>Aggregated / Manual</b>: Aggregated<br><b>Applicable containers</b>: insurance<br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><li>GET dataExtracts/userData</li></ul><b>Applicable Values</b><br>"
          readOnly: true
          enum:
          - "OTHER"
          - "TERM_LIFE_INSURANCE"
          - "UNIVERSAL_LIFE_INSURANCE"
          - "WHOLE_LIFE_INSURANCE"
          - "VARIABLE_LIFE_INSURANCE"
          - "ULIP"
          - "ENDOWMENT"
        fullAccountNumber:
          type: "string"
          description: "Full account number of the account that is included only when include = fullAccountNumber is provided in the request. For student loan account the account number that will be used for ACH or fund transfer<br><br><b>Aggregated / Manual</b>: Both <br><b>Applicable containers</b>: bank, creditCard, investment, insurance, loan, reward, otherAssets, otherLiabilities <br><b>Endpoints</b>:<ul><li>GET accounts</li><li>GET accounts/{accountId}</li><b> Note : </b> fullAccountNumber is deprecated and is replaced with fullAccountNumberList in include parameter and response.</ul>"
          readOnly: true
        premium:
          $ref: "#/components/schemas/Money"
[...]
